openapi: 3.0.0
info:
  title: AppQualityApi
  version: '1.0'
  description: An API to get all data for your bugfinding and ux research needs!
  contact:
    name: Developers
    email: it@app-quality.com
servers:
  - url: 'https://api.app-quality.com'
paths:
  /:
    get:
      summary: Get API description
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value: {}
      operationId: get-root
      description: Get all routes available for this apis
    parameters: []
  /agreements:
    parameters: []
    get:
      summary: GET Agreements
      operationId: get-agreements
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - type: object
                              properties:
                                id:
                                  type: integer
                              required:
                                - id
                            - $ref: '#/components/schemas/Agreement'
                            - type: object
                              properties:
                                customer:
                                  type: object
                                  required:
                                    - id
                                    - company
                                  properties:
                                    id:
                                      type: integer
                                    company:
                                      type: string
                              required:
                                - customer
                    required:
                      - items
                  - $ref: '#/components/schemas/PaginationData'
              examples:
                Example 1:
                  value:
                    items:
                      - id: 1
                        title: Agreement Title
                        tokens: 10.5
                        unitPrice: 165
                        expirationDate: '2023-06-06'
                        startDate: '2023-06-06'
                        note: Agreement Notes
                        customer:
                          id: 1
                          company: Customer Company
                        isTokenBased: true
                    start: 0
                    limit: 0
                    size: 0
                    total: 0
                agreement-empty:
                  value:
                    items: []
                    start: 0
                    size: 0
                agreement-filterBy-customer1:
                  value:
                    items:
                      - id: 70
                        title: Rocco Iteration 2
                        tokens: 39
                        unitPrice: 6.9
                        startDate: '2023-11-20'
                        expirationDate: '2023-03-01'
                        customer:
                          id: 1
                          company: Rocco & Friends
                        note: Test con dati veri
                        isTokenBased: false
                      - id: 69
                        title: Rocco Token
                        tokens: 169
                        unitPrice: 6.9
                        startDate: '2023-10-20'
                        expirationDate: '2023-01-01'
                        customer:
                          id: 1
                          company: Rocco & Friends
                        note: Test con dati veri
                        isTokenBased: false
                    start: 0
                    size: 2
                'agreement-filterBy[customer]=1,3&start=1':
                  value:
                    items:
                      - id: 69
                        title: Rocco Token
                        tokens: 169
                        unitPrice: 6.9
                        startDate: '2023-10-20'
                        expirationDate: '2023-01-01'
                        customer:
                          id: 1
                          company: Rocco & Friends
                        note: Test con dati veri
                        isTokenBased: false
                      - id: 42
                        title: Epic Token
                        tokens: 103
                        unitPrice: 166.6
                        startDate: '2020-10-20'
                        expirationDate: '2020-01-01'
                        customer:
                          id: 3
                          company: Epical s.p.a.
                        note: Test con dati veri
                        isTokenBased: true
                    start: 1
                    total: 3
                    limit: 10
                    size: 2
                'filterBy[customer]=1,3&limit=1':
                  value:
                    items:
                      - id: 70
                        title: Rocco Iteration 2
                        tokens: 39
                        unitPrice: 6.9
                        startDate: '2023-11-20'
                        expirationDate: '2023-03-01'
                        customer:
                          id: 1
                          company: Rocco & Friends
                        note: Test con dati veri
                        isTokenBased: false
                    start: 0
                    total: 3
                    limit: 1
                    size: 1
                'response-items-filterBy[customer]=1,3&start=1&limit=1':
                  value:
                    items:
                      - id: 69
                        title: Rocco Token
                        tokens: 169
                        unitPrice: 6.9
                        startDate: '2023-10-20'
                        expirationDate: '2023-01-01'
                        customer:
                          id: 1
                          company: Rocco & Friends
                        note: Test con dati veri
                        isTokenBased: false
                    start: 0
                    total: 3
                    limit: 3
                    size: 1
                items-no-filtered-limit=1:
                  value:
                    items:
                      - id: 241
                        title: AffidabilData Token
                        tokens: 100
                        unitPrice: 165.6
                        startDate: '2023-10-20'
                        expirationDate: '2023-01-01'
                        customer:
                          id: 2
                          company: AffidabilData s.p.a.
                        note: Test con dati veri
                        isTokenBased: true
                    start: 0
                    total: 4
                    limit: 1
                    size: 1
                items-no-filtered-limite=1&start=1:
                  value:
                    items:
                      - id: 70
                        title: Rocco Iteration 2
                        tokens: 39
                        unitPrice: 6.9
                        startDate: '2023-11-20'
                        expirationDate: '2023-03-01'
                        customer:
                          id: 1
                          company: Rocco & Friends
                        note: Test con dati veri
                        isTokenBased: false
                    start: 1
                    total: 4
                    limit: 1
                    size: 1
                items-no-filtered:
                  value:
                    items:
                      - id: 241
                        title: AffidabilData Token
                        tokens: 100
                        unitPrice: 165.6
                        startDate: '2023-10-20'
                        expirationDate: '2023-01-01'
                        customer:
                          id: 2
                          company: AffidabilData s.p.a.
                        note: Test con dati veri
                        isTokenBased: true
                      - id: 70
                        title: Rocco Iteration 2
                        tokens: 39
                        unitPrice: 6.9
                        startDate: '2023-11-20'
                        expirationDate: '2023-03-01'
                        customer:
                          id: 1
                          company: Rocco & Friends
                        note: Test con dati veri
                        isTokenBased: false
                      - id: 69
                        title: Rocco Token
                        tokens: 169
                        unitPrice: 6.9
                        startDate: '2023-10-20'
                        expirationDate: '2023-01-01'
                        customer:
                          id: 1
                          company: Rocco & Friends
                        note: Test con dati veri
                        isTokenBased: false
                      - id: 42
                        title: Epic Token
                        tokens: 103
                        unitPrice: 166.6
                        startDate: '2020-10-20'
                        expirationDate: '2020-01-01'
                        customer:
                          id: 3
                          company: Epical s.p.a.
                        note: Test con dati veri
                        isTokenBased: true
                    start: 0
                    size: 4
        '403':
          $ref: '#/components/responses/NotAuthorized'
      security:
        - JWT: []
      description: Retrive all agreements
      parameters:
        - $ref: '#/components/parameters/filterBy'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
    post:
      summary: POST Agreement
      operationId: post-agreements
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  agreementId:
                    type: integer
                required:
                  - agreementId
              examples:
                success-creation:
                  value:
                    agreementId: 11111
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '500':
          description: Internal Server Error
      description: Create a new Agreement
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    customerId:
                      type: integer
                  required:
                    - customerId
                - $ref: '#/components/schemas/Agreement'
            examples:
              Example 1:
                value:
                  customerId: 1
                  id: 1
                  title: string
                  tokens: 0
                  unitPrice: 0
                  startDate: '2023-07-03'
                  expirationDate: '2023-07-03'
                  note: string
                  isTokenBased: true
      security:
        - JWT: []
  '/agreements/{agreementId}':
    parameters:
      - schema:
          type: string
        name: agreementId
        in: path
        required: true
    put:
      summary: ''
      operationId: put-agreements-agreement-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                    required:
                      - id
                  - $ref: '#/components/schemas/Agreement'
                  - type: object
                    properties:
                      customer:
                        type: object
                        required:
                          - id
                          - company
                        properties:
                          id:
                            type: integer
                          company:
                            type: string
                    required:
                      - customer
              examples:
                Example 1:
                  value:
                    id: 0
                    title: string
                    tokens: 0
                    unitPrice: 0
                    startDate: '2023-07-03'
                    expirationDate: '2023-07-03'
                    note: string
                    isTokenBased: false
                    customer:
                      id: 0
                      company: string
                request-correct:
                  value:
                    id: 1
                    customerId: 1
                    expirationDate: '2020-01-01'
                    startDate: '2020-01-01'
                    title: Agreement Title
                    tokens: 10
                    unitPrice: 1
                    note: Agreement notes
                    isTokenBased: true
                    customer:
                      id: 0
                      company: string
                success:
                  value:
                    id: 11111
                    customerId: 1
                    expirationDate: '2020-01-01'
                    startDate: '2020-01-01'
                    title: Agreement Title
                    tokens: 10
                    unitPrice: 1
                    note: Agreement notes
                    isTokenBased: true
                    customer:
                      id: 0
                      company: string
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '500':
          description: Internal Server Error
      description: Put a specific Agreement
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Agreement'
                - type: object
                  properties:
                    customerId:
                      type: integer
                  required:
                    - customerId
            examples:
              Example 1:
                value:
                  id: 1
                  title: string
                  tokens: 165
                  unitPrice: 165
                  startDate: '2023-07-03'
                  expirationDate: '2023-07-03'
                  note: string
                  isTokenBased: true
                  customerId: 0
        description: ''
      security:
        - JWT: []
    delete:
      summary: ''
      operationId: delete-agreements-agreement-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                deletion-success:
                  value: {}
        '403':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - JWT: []
      description: Delete a specific Agreement
    get:
      summary: ''
      operationId: get-agreements-agreement-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                    required:
                      - id
                  - $ref: '#/components/schemas/Agreement'
                  - type: object
                    properties:
                      customer:
                        type: object
                        required:
                          - id
                          - company
                        properties:
                          id:
                            type: integer
                          company:
                            type: string
                    required:
                      - customer
              examples:
                Example 1:
                  value:
                    customer:
                      id: 1
                      company: string
                    id: 1
                    title: string
                    tokens: 1
                    unitPrice: 165
                    startDate: '2023-07-03'
                    expirationDate: '2023-07-03'
                    note: string
                    isTokenBased: false
                success-found:
                  value:
                    id: 69
                    customer:
                      id: 1
                      company: string
                    title: Sunset Crowdtesting (Bug Hunting) 2022-2023
                    tokens: 666
                    unitPrice: 100
                    startDate: '2022-02-03'
                    expirationDate: '2023-10-31'
                    note: Agreement improved by Sunset
                    isTokenBased: false
        '403':
          $ref: '#/components/responses/Authentication'
        '500':
          description: Internal Server Error
      description: Get a specific Agreement
      security:
        - JWT: []
  /authenticate:
    post:
      description: A request to login with your username and password
      summary: ''
      operationId: post-authenticate
      responses:
        '200':
          $ref: '#/components/responses/Authentication'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              examples:
                Example 1:
                  value:
                    message: Error 401
      tags:
        - Authentication
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
            examples:
              example:
                value:
                  username: Elon71
                  password: my-strong-password
        description: A JSON containing username and password
      parameters: []
  /browsers:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                        - id
                        - name
                required:
                  - results
              examples:
                Example 1:
                  value:
                    results:
                      - id: 1
                        name: Chrome
                      - id: 2
                        name: Firefox
                      - id: 3
                        name: Safari
                      - id: 4
                        name: Edge
                      - id: 100
                        name: Other
      operationId: get-browsers
  '/bugs/{bugId}/status':
    parameters:
      - schema:
          type: string
        name: bugId
        in: path
        required: true
    patch:
      summary: ''
      operationId: patch-bugs-bugId-status
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status_id:
                  type: integer
              required:
                - status_id
      security:
        - JWT: []
  /campaigns:
    post:
      summary: Create a new Campaign
      operationId: post-campaigns
      responses:
        '201':
          $ref: '#/components/responses/SingleCampaign'
        '400':
          $ref: '#/components/responses/MissingParameters'
        '403':
          $ref: '#/components/responses/NotAuthorized'
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Campaign'
                - type: object
                  properties:
                    project_id:
                      type: integer
            examples:
              example:
                value:
                  name: Tesla-Model-3-selfdrive-UX
                  campaign_type: 1
                  customer_title: Tesla Inc.
                  internal_id: T4242
                  dates:
                    start: 17/02/2021
                    end: 17/08/2021
                    close: 17/09/2021
                  status: true
                  language: English (England)
                  public: true
                  hasBugParade: true
                  devices:
                    - id: '2'
                  minNumberOfMedia: 0
                  titleRule: true
                  allowed:
                    severities:
                      - id: 3
                    bug_types:
                      - id: 3
                    replicabilities:
                      - id: '1'
                  projectManager:
                    username: Elon Musk
                  customerCanViewReviewing: true
                  additionalFields:
                    - id: 2
                  project_id: 42
        description: 'The Campaign data to set on the newly created Campaign, including the id of the Project to link the Campaign to'
      description: Create a new Campaign if you have access to the creation
      tags:
        - Campaign
    get:
      summary: Get all available Campaigns
      operationId: get-campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            customerTitle:
                              type: string
                            startDate:
                              type: string
                            endDate:
                              type: string
                            status:
                              type: string
                              enum:
                                - running
                                - closed
                                - incoming
                            visibility:
                              type: string
                              enum:
                                - admin
                                - smallgroup
                                - logged
                                - public
                                - target
                            resultType:
                              type: string
                              enum:
                                - bug
                                - bugparade
                                - 'no'
                            csm:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                                surname:
                                  type: string
                              required:
                                - id
                                - name
                                - surname
                            customer:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                                - name
                            type:
                              type: object
                              properties:
                                name:
                                  type: string
                                area:
                                  type: string
                                  enum:
                                    - quality
                                    - experience
                              required:
                                - name
                                - area
                            project:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                                - name
                            phase:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                                - id
                                - name
                            roles:
                              type: array
                              items:
                                type: object
                                properties:
                                  role:
                                    type: object
                                    required:
                                      - id
                                      - name
                                    properties:
                                      id:
                                        type: integer
                                      name:
                                        type: string
                                  user:
                                    type: object
                                    required:
                                      - id
                                      - name
                                      - surname
                                    properties:
                                      id:
                                        type: integer
                                      name:
                                        type: string
                                      surname:
                                        type: string
                                required:
                                  - role
                                  - user
                            quote:
                              type: object
                              properties:
                                id:
                                  type: integer
                                price:
                                  type: string
                                status:
                                  type: string
                              required:
                                - id
                                - price
                                - status
                  - $ref: '#/components/schemas/PaginationData'
              examples:
                Example 1:
                  value:
                    items:
                      - id: 0
                        name: string
                        customerTitle: string
                        startDate: string
                        endDate: string
                        status: running
                        visibility: admin
                        resultType: bug
                        csm:
                          id: 0
                          name: string
                          surname: string
                        customer:
                          id: 0
                          name: string
                        type:
                          name: string
                          area: quality
                        project:
                          id: 0
                          name: string
                        phase:
                          id: 0
                          name: string
                        roles:
                          - role:
                              id: 0
                              name: string
                            user:
                              id: 0
                              name: string
                              surname: string
                        quote:
                          id: 0
                          price: string
                          status: string
                    start: 0
                    limit: 0
                    size: 0
                    total: 0
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      description: Get all the Campaigns you have access to
      tags:
        - Campaign
      parameters:
        - schema:
            type: string
          in: query
          name: fields
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - schema:
            type: string
            enum:
              - 'true'
          in: query
          name: mine
          description: Return only your campaign?
          allowEmptyValue: true
        - schema:
            type: string
          in: query
          name: search
          description: A value to search in id or title
        - $ref: '#/components/parameters/order'
        - schema:
            type: string
            enum:
              - id
              - startDate
              - endDate
          in: query
          name: orderBy
          description: The parameter to order by
        - schema: {}
          in: query
          name: filterBy
  '/campaigns/{campaign}':
    parameters:
      - $ref: '#/components/parameters/campaign'
    get:
      summary: Get a Campaign
      tags:
        - Campaign
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                  typeDescription:
                    type: string
                  preselectionFormId:
                    type: integer
                  plan:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                      - id
                      - name
                required:
                  - id
                  - title
                  - type
                  - typeDescription
              examples:
                Example 1:
                  value:
                    id: 1
                    title: Campaign Title
                    type: Campaign Type
                    typeDescription: Campaign DescriptionType
                Example 2:
                  value:
                    id: 1
                    title: Campaign Title
                    type: Campaign Type
                    typeDescription: Campaign DescriptionType
                    preselectionFormId: 69
                campaign_with_plan:
                  value:
                    id: 0
                    title: string
                    type: string
                    typeDescription: string
                    preselectionFormId: 0
                    plan:
                      id: 0
                      name: string
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          description: Not Found
      operationId: get-campaigns-campaign
      description: 'Get the data of a Campaign if you have access to it '
      security:
        - JWT: []
    put:
      summary: Edit a Campaign
      operationId: put-campaigns-campaign
      responses:
        '200':
          $ref: '#/components/responses/SingleCampaign'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: 'Edit the data of a Campaign if you have access to it '
      tags:
        - Campaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignOptional'
            examples:
              full-example:
                value:
                  name: Tesla-Model-3-selfdrive-UX
                  customer_title: Tesla Inc.
                  internal_id: T4242
                  dates:
                    start: 17/02/2021
                    end: 17/08/2021
                    close: 17/09/2021
                  status: true
                  language: English (England)
                  public: true
                  hasBugParade: true
                  devices:
                    - id: '2'
                  minNumberOfMedia: 0
                  titleRule: true
                  allowed:
                    severities:
                      - id: 3
                    bug_types:
                      - id: 3
                    replicabilities:
                      - id: '1'
                  projectManager:
                    username: Elon Musk
                  customerCanViewReviewing: true
                  additionalFields:
                    - id: 2
              change-name-example:
                value:
                  name: Tesla-Model-3-selfdrive-UX new name
              update-campaign-token-usage:
                value:
                  tokens: 12
        description: The Campaign data to edit
      security:
        - JWT: []
  '/campaigns/{campaign}/bugs':
    parameters:
      - $ref: '#/components/parameters/campaign'
    get:
      summary: Get all Campaign Bugs
      tags:
        - Campaign
      operationId: get-campaigns-cid-bugs
      description: 'Get all bugs of a Campaign if you have access to it '
      security:
        - JWT: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            title:
                              type: string
                            internalId:
                              type: string
                            status:
                              type: object
                              required:
                                - id
                                - name
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                            type:
                              type: object
                              required:
                                - id
                                - name
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                            severity:
                              type: object
                              required:
                                - id
                                - name
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                            tester:
                              type: object
                              required:
                                - id
                              properties:
                                id:
                                  type: integer
                            tags:
                              type: array
                              items:
                                $ref: '#/components/schemas/BugTag'
                            duplication:
                              type: string
                              enum:
                                - father
                                - unique
                                - duplicated
                            isFavourite:
                              type: boolean
                            created:
                              type: string
                            updated:
                              type: string
                          required:
                            - id
                            - title
                            - internalId
                            - status
                            - type
                            - severity
                            - tester
                            - duplication
                            - isFavourite
                            - created
                            - updated
                    required:
                      - items
                  - $ref: '#/components/schemas/PaginationData'
              examples:
                Example 1:
                  value:
                    items:
                      - id: 0
                        title: string
                        internalId: string
                        status:
                          id: 0
                          name: string
                        type:
                          id: 0
                          name: string
                        severity:
                          id: 0
                          name: string
                        tester:
                          id: 0
                        tags:
                          - id: 0
                            name: string
                        duplication: father
                        isFavourite: true
                        created: string
                        updated: string
                    start: 0
                    limit: 0
                    size: 0
                    total: 0
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/order'
        - schema:
            type: string
            enum:
              - severity
              - testerId
              - status
              - type
              - id
          in: query
          name: orderBy
          description: 'Order values by STATUS, TESTERID, SEVERITY, TYPE, ID'
        - $ref: '#/components/parameters/filterBy'
  '/campaigns/{campaign}/bugs/{bugId}':
    parameters:
      - name: campaign
        in: path
        required: true
        schema:
          type: string
        description: A campaign id
      - schema:
          type: string
        name: bugId
        in: path
        required: true
    get:
      summary: Get a specific Campaign Bug
      tags:
        - Campaign
      operationId: get-campaigns-single-bug
      description: 'Get single bug of a Campaign if you have access to it '
      security:
        - JWT: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  actual_result:
                    type: string
                  expected_result:
                    type: string
                  severity:
                    $ref: '#/components/schemas/BugSeverity'
                  replicability:
                    required:
                      - id
                      - name
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                  type:
                    required:
                      - id
                      - name
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                  status:
                    $ref: '#/components/schemas/BugStatus'
                  reason:
                    type: string
                  note:
                    type: string
                  usecase:
                    type: object
                    required:
                      - id
                      - title
                      - description
                    properties:
                      id:
                        type: integer
                      title:
                        type: string
                      description:
                        type: string
                  media:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                      required:
                        - id
                required:
                  - id
                  - title
                  - description
                  - actual_result
                  - expected_result
                  - severity
                  - replicability
                  - type
                  - status
                  - reason
                  - note
                  - usecase
                  - media
              examples: {}
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters: []
  '/campaigns/{campaign}/candidates':
    parameters:
      - name: campaign
        in: path
        required: true
        schema:
          type: string
        description: A campaign id
    post:
      summary: ''
      operationId: post-campaigns-campaign-candidates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        tester_id:
                          type: number
                        device:
                          oneOf:
                            - type: string
                              properties: {}
                              enum:
                                - any
                            - type: number
                              properties: {}
                        campaignId:
                          type: number
                      required:
                        - tester_id
                required:
                  - results
        '207':
          description: Multi-Status (WebDAV)
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        tester_id:
                          type: number
                        device:
                          oneOf:
                            - type: string
                              enum:
                                - any
                            - type: number
                        campaignId:
                          type: number
                      required:
                        - tester_id
                  invalidTesters:
                    type: array
                    items:
                      type: number
                required:
                  - results
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: The Tryber will be inserted as a candidate Tryber on a specific Campaign
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: array
                  items:
                    type: object
                    properties:
                      tester_id:
                        type: number
                      device:
                        oneOf:
                          - type: number
                            properties: {}
                          - type: string
                            properties: {}
                            enum:
                              - random
                    required:
                      - tester_id
                - type: object
                  properties:
                    tester_id:
                      type: number
                    device:
                      oneOf:
                        - type: number
                          properties: {}
                        - type: string
                          properties: {}
                          enum:
                            - random
                  required:
                    - tester_id
      parameters: []
    get:
      summary: Get all candidates for a campaign
      operationId: get-campaigns-campaign-candidates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            surname:
                              type: string
                            gender:
                              $ref: '#/components/schemas/Gender'
                            age:
                              type: number
                            experience:
                              type: number
                            businessCps:
                              type: integer
                            businessCpsLastMonth:
                              type: integer
                            levels:
                              type: object
                              required:
                                - bugHunting
                                - metal
                              properties:
                                bugHunting:
                                  type: string
                                metal:
                                  type: string
                            devices:
                              type: array
                              items:
                                type: object
                                properties:
                                  manufacturer:
                                    type: string
                                  model:
                                    type: string
                                  os:
                                    type: string
                                  osVersion:
                                    type: string
                                  id:
                                    type: number
                                required:
                                  - os
                                  - osVersion
                                  - id
                            questions:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  title:
                                    type: string
                                  value:
                                    type: string
                            status:
                              type: string
                              enum:
                                - candidate
                                - excluded
                                - selected
                          required:
                            - id
                            - name
                            - surname
                            - gender
                            - age
                            - experience
                            - businessCps
                            - businessCpsLastMonth
                            - levels
                            - devices
                  - $ref: '#/components/schemas/PaginationData'
              examples:
                example-2:
                  value:
                    results:
                      - id: 1234
                        name: Giulia
                        surname: Baldini
                        age: 20
                        experience: 100
                        gender: female
                        levels:
                          bugHunting: Newbie
                          metal: Bronze
                        businessCps: 0
                        businessCpsLastMonth: 0
                        devices:
                          - id: 0
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: Samsung
                            model: Galaxy M31
                            id: 1
                            os: Android
                            osVersion: 12 (12)
                          - manufacturer: Apple
                            model: iPad
                            id: 2
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - manufacturer: Apple
                            model: iPhone SE (2020)
                            id: 3
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - id: 4
                            os: Windows
                            osVersion: Windows 11
                          - manufacturer: Google
                            model: Pixel 6
                            id: 5
                            os: Android
                            osVersion: 13(beta) (13(beta))
                      - id: 1235
                        name: Cesare
                        surname: Alagna
                        experience: 100
                        age: 21
                        levels:
                          bugHunting: No level
                          metal: No level
                        gender: male
                        businessCps: 10
                        businessCpsLastMonth: 5
                        devices:
                          - id: 6
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Xiaomi
                            model: Redmi 8
                            id: 7
                            os: Android
                            osVersion: 11 (11)
                      - id: 12346
                        name: Carlo
                        surname: Paolini
                        experience: 100
                        age: 22
                        gender: not-specified
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        businessCps: 69
                        businessCpsLastMonth: 9
                        devices:
                          - manufacturer: Huawei
                            model: Mate 20 Pro
                            id: 8
                            os: Android
                            osVersion: 10 (10.0)
                      - id: 1239
                        name: Chiara
                        surname: Mancini
                        experience: 100
                        age: 23
                        levels:
                          bugHunting: Rookie
                          metal: Silver
                        gender: other
                        businessCps: 0
                        businessCpsLastMonth: 0
                        devices:
                          - id: 9
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey) (12.1)
                          - manufacturer: Xiaomi
                            model: Mi 11 Lite
                            id: 10
                            os: Android
                            osVersion: 12 (12)
                      - id: 1236
                        name: Rosa
                        surname: Contralto
                        experience: 100
                        age: 25
                        gender: female
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        businessCps: 31
                        businessCpsLastMonth: 1
                        devices:
                          - id: 11
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Samsung
                            model: Galaxy S20 FE
                            id: 12
                            os: Android
                            osVersion: 12 (12)
                      - id: 12356
                        name: Beppe
                        surname: Gianduiotto
                        experience: 100
                        age: 26
                        gender: male
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        businessCps: 50
                        businessCpsLastMonth: 10
                        devices:
                          - manufacturer: Apple
                            model: iPad Pro 12.9
                            id: 13
                            os: iOS
                            osVersion: iOS 15.7 (15.7)
                          - manufacturer: Samsung
                            model: Galaxy A20e
                            id: 14
                            os: Android
                            osVersion: 11 (11)
                      - id: 12369
                        name: Monica
                        surname: Lorenzini
                        experience: 100
                        age: 27
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        gender: female
                        businessCps: 22
                        businessCpsLastMonth: 2
                        devices:
                          - id: 15
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Asus
                            model: ZenFone 5 (ZE620KL)
                            id: 16
                            os: Android
                            osVersion: Pie (9.0)
                      - id: 12389
                        name: Tullio
                        surname: De Sica
                        experience: 100
                        age: 30
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        gender: male
                        businessCps: 21
                        businessCpsLastMonth: 1
                        devices:
                          - manufacturer: Apple
                            model: iPhone 14 Pro Max
                            id: 17
                            os: iOS
                            osVersion: iOS 16(beta) (16(beta))
                    start: 0
                    size: 8
                example-with-questions:
                  value:
                    results:
                      - id: 1234
                        name: Giulia
                        surname: Baldini
                        experience: 100
                        age: 20
                        gender: female
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        businessCps: 0
                        businessCpsLastMonth: 0
                        devices:
                          - id: 0
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: Samsung
                            model: Galaxy M31
                            id: 1
                            os: Android
                            osVersion: 12 (12)
                          - manufacturer: Apple
                            model: iPad
                            id: 2
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - manufacturer: Apple
                            model: iPhone SE (2020)
                            id: 3
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - id: 4
                            os: Windows
                            osVersion: Windows 11
                          - manufacturer: Google
                            model: Pixel 6
                            id: 5
                            os: Android
                            osVersion: 13(beta) (13(beta))
                        questions:
                          - id: 1
                            title: Cane
                            value: Sì
                          - id: 2
                            title: Pagamento
                            value: 'No'
                      - id: 1235
                        name: Cesare
                        surname: Alagna
                        experience: 100
                        age: 21
                        levels:
                          bugHunting: No level
                          metal: No level
                        gender: male
                        businessCps: 0
                        businessCpsLastMonth: 0
                        devices:
                          - id: 6
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Xiaomi
                            model: Redmi 8
                            id: 7
                            os: Android
                            osVersion: 11 (11)
                      - id: 12346
                        name: Carlo
                        surname: Paolini
                        experience: 100
                        age: 22
                        gender: not-specified
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        businessCps: 10
                        businessCpsLastMonth: 5
                        devices:
                          - manufacturer: Huawei
                            model: Mate 20 Pro
                            id: 8
                            os: Android
                            osVersion: 10 (10.0)
                        questions:
                          - id: 1
                            title: Cane
                            value: Sì
                          - id: 2
                            title: Pagamento
                            value: 'No'
                      - id: 1239
                        name: Chiara
                        surname: Mancini
                        experience: 100
                        age: 23
                        levels:
                          bugHunting: Rookie
                          metal: No level
                        gender: other
                        businessCps: 70
                        businessCpsLastMonth: 13
                        devices:
                          - id: 9
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey) (12.1)
                          - manufacturer: Xiaomi
                            model: Mi 11 Lite
                            id: 10
                            os: Android
                            osVersion: 12 (12)
                        questions:
                          - id: 1
                            title: Cane
                            value: 'No'
                          - id: 2
                            title: Pagamento
                            value: 'No'
                      - id: 1236
                        name: Rosa
                        surname: Contralto
                        experience: 100
                        age: 25
                        gender: female
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        businessCps: 60
                        businessCpsLastMonth: 1
                        devices:
                          - id: 11
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Samsung
                            model: Galaxy S20 FE
                            id: 12
                            os: Android
                            osVersion: 12 (12)
                        questions:
                          - id: 1
                            title: Cane
                            value: Sì
                          - id: 2
                            title: Pagamento
                            value: 'No'
                      - id: 12356
                        name: Beppe
                        surname: Gianduiotto
                        experience: 100
                        age: 26
                        gender: male
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        businessCps: 69
                        businessCpsLastMonth: 9
                        devices:
                          - manufacturer: Apple
                            model: iPad Pro 12.9
                            id: 13
                            os: iOS
                            osVersion: iOS 15.7 (15.7)
                          - manufacturer: Samsung
                            model: Galaxy A20e
                            id: 14
                            os: Android
                            osVersion: 11 (11)
                        questions:
                          - id: 1
                            title: Cane
                            value: Sì
                          - id: 2
                            title: Pagamento
                            value: 'No'
                      - id: 12369
                        name: Monica
                        surname: Lorenzini
                        experience: 100
                        age: 27
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        gender: female
                        businessCps: 20
                        businessCpsLastMonth: 5
                        devices:
                          - id: 15
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Asus
                            model: ZenFone 5 (ZE620KL)
                            id: 16
                            os: Android
                            osVersion: Pie (9.0)
                        questions:
                          - id: 1
                            title: Cane
                            value: 'No'
                          - id: 2
                            title: Pagamento
                            value: Sì
                      - id: 12389
                        name: Tullio
                        surname: De Sica
                        experience: 100
                        age: 30
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        gender: male
                        businessCps: 0
                        businessCpsLastMonth: 0
                        devices:
                          - manufacturer: Apple
                            model: iPhone 14 Pro Max
                            id: 17
                            os: iOS
                            osVersion: iOS 16(beta) (16(beta))
                        questions:
                          - id: 1
                            title: Cane
                            value: Sì
                          - id: 2
                            title: Pagamento
                            value: 'No'
                    start: 0
                    size: 8
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: ''
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - schema:
            type: string
            example: 'question_1,question_2'
          in: query
          name: fields
          description: The fields to add to the results
        - schema: {}
          in: query
          name: filterByInclude
          description: Key-value Array for item filtering
        - schema: {}
          in: query
          name: filterByExclude
          description: Key-value Array for item filtering
        - schema: {}
          in: query
          name: filterByAge
          description: Array with min and max
        - schema:
            type: string
            enum:
              - onlyAccepted
              - onlyCandidates
              - all
              - candidatesAndExcluded
          in: query
          name: show
          description: Show accepted/candidates or both
  '/campaigns/{campaign}/clusters':
    parameters:
      - name: campaign
        in: path
        required: true
        schema:
          type: string
        description: A campaign id
    get:
      summary: Get use case clusters for a campaign
      tags:
        - Campaign
        - Task
      responses:
        '200':
          description: A UseCase linked with the Campaign
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                        - id
                        - name
                required:
                  - items
              examples:
                4-items:
                  value:
                    items:
                      - id: 1
                        name: 'UC1: Cart'
                      - id: 2
                        name: 'UC2: Login'
                      - id: 3
                        name: 'UC3: Checkout'
                      - id: 4
                        name: 'UC4: Search'
                ux-campaign-get-clusters:
                  value:
                    items:
                      - id: 1
                        name: UC 1 - Carrello
                      - id: 2
                        name: UC 2 - Profilo
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-campaigns-campaign-clusters
      description: Get all clusters for  a specific campaign
      security:
        - JWT: []
  '/campaigns/{campaign}/forms':
    parameters:
      - schema:
          type: string
        name: campaign
        in: path
        required: true
    get:
      summary: Get a preselection form by campaign id
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    question:
                      type: string
                    shortName:
                      type: string
                  required:
                    - id
                    - question
              examples:
                example-1:
                  value:
                    - id: 1
                      question: My question 1
                      shortName: Q1
                    - id: 2
                      question: My question 2
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-campaigns-campaign-forms
      description: ''
      security:
        - JWT: []
  '/campaigns/{campaign}/groups':
    parameters:
      - name: campaign
        in: path
        required: true
        schema:
          type: string
        description: A campaign id
    get:
      summary: Get all Campaign Groups
      tags:
        - Campaign
      operationId: get-campaigns-cid-groups
      description: 'Get all groups used in a Campaign if you have access to it '
      security:
        - JWT: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                  required:
                    - id
                    - name
              examples: {}
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters: []
  '/campaigns/{campaign}/observations':
    parameters:
      - name: campaign
        in: path
        required: true
        schema:
          type: string
        description: A campaign id
    get:
      summary: Get observations for a campaign
      tags:
        - Campaign
        - Task
      responses:
        '200':
          description: A UseCase linked with the Campaign
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - name
                        - time
                        - tester
                        - cluster
                        - media
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        time:
                          type: number
                        tester:
                          type: object
                          required:
                            - id
                            - name
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                        cluster:
                          type: object
                          required:
                            - id
                            - name
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                        media:
                          type: object
                          required:
                            - id
                            - url
                            - streamUrl
                          properties:
                            id:
                              type: integer
                            url:
                              type: string
                            streamUrl:
                              type: string
              examples:
                3-observations:
                  value:
                    items:
                      - id: 1
                        name: Observation Name1
                        time: 59
                        tester:
                          id: 11111
                          name: Jhon Doe
                        cluster:
                          id: 1
                          name: Cluster Name1
                        media:
                          id: 1
                          url: www.example.com
                          streamUrl: www.example.com
                      - id: 2
                        name: Observation Name2
                        time: 39
                        tester:
                          id: 12345
                          name: Mary Blue
                        cluster:
                          id: 1
                          name: Cluster Name1
                        media:
                          id: 1
                          url: www.example.com
                          streamUrl: www.example.com
                      - id: 3
                        name: Observation Name3
                        time: 19
                        tester:
                          id: 11111
                          name: Jhon Doe
                        cluster:
                          id: 2
                          name: Cluster Name2
                        media:
                          id: 1
                          url: www.example.com
                          streamUrl: www.example.com
                ux-campaign-get-observations:
                  value:
                    items:
                      - id: 10678
                        name: ok
                        time: 0
                        cluster:
                          id: 781
                          name: UC 1 - Carrello
                        tester:
                          id: 11291
                          name: Aurora
                        media:
                          id: 73578
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T11291/91d3f36562a4d2be809c9b1217f591b317f928b4_1666108920.mp4'
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T11291/91d3f36562a4d2be809c9b1217f591b317f928b4_1666108920-stream.m3u8'
                      - id: 10682
                        name: ''
                        time: 22
                        cluster:
                          id: 781
                          name: UC 1 - Carrello
                        tester:
                          id: 8208
                          name: Eliseo
                        media:
                          id: 73577
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T8208/bfc341707a8a3c247926aee8d4efe14f06f5165d_1666101262.mp4'
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T8208/bfc341707a8a3c247926aee8d4efe14f06f5165d_1666101262-stream.m3u8'
                      - id: 10683
                        name: t58918_xiaomi_mi10_usecase1-mp4
                        time: 0
                        cluster:
                          id: 781
                          name: UC 1 - Carrello
                        tester:
                          id: 58918
                          name: Claudio
                        media:
                          id: 73579
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T58918/713c9be296e4fb76d0b074947bbe9a56b2807000_1666111033.mp4'
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T58918/713c9be296e4fb76d0b074947bbe9a56b2807000_1666111033-stream.m3u8'
                      - id: 10684
                        name: t960_apple_iphone12_usecase0-mp4
                        time: 0
                        cluster:
                          id: 781
                          name: UC 1 - Carrello
                        tester:
                          id: 960
                          name: Domenico
                        media:
                          id: 73580
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T960/19ebc32b3d71e4a3f2858eea298761d44db5d83b_1666112983.mp4'
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T960/19ebc32b3d71e4a3f2858eea298761d44db5d83b_1666112983-stream.m3u8'
                      - id: 10685
                        name: t17968_pc_desktop-_amd_usecase1-
                        time: 0
                        cluster:
                          id: 781
                          name: UC 1 - Carrello
                        tester:
                          id: 17968
                          name: Vittorio
                        media:
                          id: 73589
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T17968/0af496e75fb6ec367749d1c34a2f9a0dec0f2b4a_1666121805.mp4'
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T17968/0af496e75fb6ec367749d1c34a2f9a0dec0f2b4a_1666121805-stream.m3u8'
                      - id: 10686
                        name: t29187_huaweihonor_usecase0-mp4
                        time: 0
                        cluster:
                          id: 781
                          name: UC 1 - Carrello
                        tester:
                          id: 29187
                          name: Giada
                        media:
                          id: 73590
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T29187/c40ae70fbc3e3ac3c77a07aefdddec014d099e30_1666125348.mp4'
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T29187/c40ae70fbc3e3ac3c77a07aefdddec014d099e30_1666125348-stream.m3u8'
                      - id: 10687
                        name: interessante
                        time: 58
                        cluster:
                          id: 781
                          name: UC 1 - Carrello
                        tester:
                          id: 8208
                          name: Eliseo
                        media:
                          id: 73577
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T8208/bfc341707a8a3c247926aee8d4efe14f06f5165d_1666101262.mp4'
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T8208/bfc341707a8a3c247926aee8d4efe14f06f5165d_1666101262-stream.m3u8'
                      - id: 10688
                        name: giommiobs
                        time: 108
                        cluster:
                          id: 781
                          name: UC 1 - Carrello
                        tester:
                          id: 58918
                          name: Claudio
                        media:
                          id: 73579
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T58918/713c9be296e4fb76d0b074947bbe9a56b2807000_1666111033.mp4'
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T58918/713c9be296e4fb76d0b074947bbe9a56b2807000_1666111033-stream.m3u8'
                      - id: 10690
                        name: ok T32
                        time: 4
                        cluster:
                          id: 782
                          name: UC 2 - Profilo
                        tester:
                          id: 32
                          name: Luca
                        media:
                          id: 74191
                          url: 'https://s3-eu-west-1.amazonaws.com/mediaconvert-encoder-staging-bucket/CP4845/UC19596/T32/ad4fc347f2579800a1920a8be6e181dda0f4b290_1692791543.mp4'
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/mediaconvert-encoder-staging-bucket/CP4845/UC19596/T32/ad4fc347f2579800a1920a8be6e181dda0f4b290_1692791543-stream.m3u8'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-campaigns-campaign-observations
      description: Get observations for a campaign
      security:
        - JWT: []
      parameters:
        - schema: {}
          in: query
          name: filterBy
  '/campaigns/{campaign}/payouts':
    parameters:
      - $ref: '#/components/parameters/campaign'
    get:
      summary: Get payout data for a specific campaign
      operationId: get-campaigns-campaign-payouts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    maxBonusBug: 4.99
                properties:
                  maxBonusBug:
                    type: number
                  completionRule:
                    type: object
                    properties:
                      bugs:
                        type: number
                      usecases:
                        type: number
                  testSuccess:
                    type: object
                    required:
                      - payout
                      - points
                      - message
                    properties:
                      payout:
                        type: number
                      points:
                        type: number
                      message:
                        type: string
                  testFailure:
                    type: object
                    required:
                      - payout
                      - points
                      - message
                    properties:
                      payout:
                        type: number
                      points:
                        type: number
                      message:
                        type: string
                required:
                  - maxBonusBug
                  - completionRule
                  - testSuccess
                  - testFailure
              examples:
                Example 1:
                  value:
                    maxBonusBug: 5.99
                    completionRule:
                      bugs: 4
                      usecases: 53
                    testSuccess:
                      payout: 15
                      points: 100
                      message: message
                    testFailure:
                      payout: 0
                      points: -200
                      message: message
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: ''
      security:
        - JWT: []
      parameters: []
  '/campaigns/{campaign}/prospect':
    parameters:
      - schema:
          type: string
        name: campaign
        in: path
        required: true
    get:
      summary: Get a prospect by campaign id
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    items:
                      - usecases:
                          completed: 0
                          required: 0
                        tester:
                          id: 0
                          name: string
                          surname: string
                        bugs:
                          critical: 0
                          high: 0
                          medium: 0
                          low: 0
                        payout:
                          completion: 0
                          bug: 0
                          refund: 0
                          extra: 0
                        experience:
                          completion: 0
                          extra: 0
                        note: string
                        status: pending
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        tester:
                          type: object
                          required:
                            - id
                            - name
                            - surname
                            - group
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            surname:
                              type: string
                            group:
                              type: number
                        usecases:
                          type: object
                          required:
                            - completed
                            - required
                          properties:
                            completed:
                              type: integer
                            required:
                              type: integer
                        bugs:
                          type: object
                          required:
                            - critical
                            - high
                            - medium
                            - low
                          properties:
                            critical:
                              type: integer
                            high:
                              type: integer
                            medium:
                              type: integer
                            low:
                              type: integer
                        payout:
                          type: object
                          required:
                            - completion
                            - bug
                            - refund
                            - extra
                          properties:
                            completion:
                              type: number
                            bug:
                              type: number
                            refund:
                              type: number
                            extra:
                              type: number
                        experience:
                          type: object
                          required:
                            - completion
                            - extra
                          properties:
                            completion:
                              type: integer
                            extra:
                              type: integer
                        note:
                          type: string
                        status:
                          type: string
                          enum:
                            - pending
                            - done
                        weightedBugs:
                          type: number
                        isCompleted:
                          type: boolean
                        isTopTester:
                          type: boolean
                      required:
                        - tester
                        - usecases
                        - bugs
                        - payout
                        - experience
                        - note
                        - status
                        - weightedBugs
                        - isCompleted
                        - isTopTester
                  status:
                    $ref: '#/components/schemas/ProspectStatus'
                required:
                  - items
                  - status
              examples:
                Example 1:
                  value:
                    items:
                      - tester:
                          id: 0
                          name: string
                          surname: string
                          group: 0
                        usecases:
                          completed: 0
                          required: 0
                        bugs:
                          critical: 0
                          high: 0
                          medium: 0
                          low: 0
                        payout:
                          completion: 0
                          bug: 0
                          refund: 0
                          extra: 0
                        experience:
                          completion: 0
                          extra: 0
                        note: string
                        status: pending
                        weightedBugs: 0
                        isCompleted: true
                        isTopTester: true
                    status: draft
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '412':
          description: Precondition Failed
      operationId: get-campaigns-campaign-prospect
      description: ''
      security:
        - JWT: []
      parameters:
        - schema: {}
          in: query
          name: filterByInclude
          description: Key-value Array for item filtering
        - schema: {}
          in: query
          name: filterByExclude
          description: Key-value Array for item filtering
    put:
      summary: Edit a campaign prospect
      operationId: put-campaigns-campaign-prospect
      responses:
        '200':
          description: OK
          content: {}
        '304':
          description: Not Modified
        '501':
          description: Not Implemented
      security:
        - JWT: []
      description: 'Make campaign perspective status done, and change exp points and tester payouts.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/ProspectStatus'
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      tester:
                        type: object
                        required:
                          - id
                        properties:
                          id:
                            type: integer
                      experience:
                        type: object
                        required:
                          - completion
                          - extra
                        properties:
                          completion:
                            type: integer
                          extra:
                            type: integer
                      payout:
                        type: object
                        required:
                          - completion
                          - bug
                          - extra
                          - refund
                        properties:
                          completion:
                            type: number
                          bug:
                            type: number
                          extra:
                            type: number
                          refund:
                            type: number
                      note:
                        type: string
                      completed:
                        type: boolean
                    required:
                      - tester
                      - experience
                      - payout
                      - completed
              required:
                - status
                - items
            examples:
              Example 1:
                value:
                  status: done
                  items:
                    - tester:
                        id: 0
                      experience:
                        completion: 0
                        extra: 0
                      payout:
                        completion: 0
                        bug: 0
                        extra: 0
                        refund: 0
                      note: string
                      completed: true
    patch:
      summary: ''
      operationId: patch-campaigns-campaign-prospect
      responses:
        '200':
          description: OK
        '304':
          description: Not Modified
        '403':
          description: Forbidden
        '501':
          description: Not Implemented
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/ProspectStatus'
  '/campaigns/{campaign}/prospect/{testerId}':
    parameters:
      - $ref: '#/components/parameters/campaign'
      - $ref: '#/components/parameters/testerId'
    put:
      summary: ''
      operationId: put-campaigns-campaign-prospect-testerId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    payout:
                      completion: 0.2
                      bugs: 0.2
                      refund: 0.2
                      extra: 0.2
                    experience:
                      completion: 0
                      extra: 0
                    note: string
                    completed: true
                properties:
                  payout:
                    type: object
                    required:
                      - completion
                      - bugs
                      - refund
                      - extra
                    properties:
                      completion:
                        type: number
                      bugs:
                        type: number
                      refund:
                        type: number
                      extra:
                        type: number
                  experience:
                    type: object
                    required:
                      - completion
                      - extra
                    properties:
                      completion:
                        type: integer
                      extra:
                        type: integer
                  note:
                    type: string
                  completed:
                    type: boolean
                required:
                  - payout
                  - experience
                  - note
                  - completed
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  payout:
                    completion: 10
                    bugs: 10
                    refund: 10
                    extra: 10
                  experience:
                    completion: 10
                    extra: 10
                  note: string
                  completed: true
              properties:
                payout:
                  type: object
                  required:
                    - completion
                    - bugs
                    - refund
                    - extra
[...]
