openapi: 3.0.0
info:
  title: AppQualityApi
  version: '1.0'
  description: An API to get all data for your bugfinding and ux research needs!
  contact:
    name: Developers
    email: it@app-quality.com
servers:
  - url: 'https://api.app-quality.com'
paths:
  /:
    get:
      summary: Get API description
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value: {}
      operationId: get-root
      description: Get all routes available for this apis
    parameters: []
  /agreements:
    parameters: []
    get:
      summary: GET Agreements
      operationId: get-agreements
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - type: object
                              properties:
                                id:
                                  type: integer
                              required:
                                - id
                            - $ref: '#/components/schemas/Agreement'
                            - type: object
                              properties:
                                customer:
                                  type: object
                                  required:
                                    - id
                                    - company
                                  properties:
                                    id:
                                      type: integer
                                    company:
                                      type: string
                              required:
                                - customer
                    required:
                      - items
                  - $ref: '#/components/schemas/PaginationData'
              examples:
                Example 1:
                  value:
                    items:
                      - id: 1
                        title: Agreement Title
                        tokens: 10.5
                        unitPrice: 165
                        expirationDate: '2023-06-06'
                        startDate: '2023-06-06'
                        note: Agreement Notes
                        customer:
                          id: 1
                          company: Customer Company
                        isTokenBased: true
                    start: 0
                    limit: 0
                    size: 0
                    total: 0
        '403':
          $ref: '#/components/responses/NotAuthorized'
      security:
        - JWT: []
      description: Retrive all agreements
      parameters:
        - $ref: '#/components/parameters/filterBy'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
    post:
      summary: POST Agreement
      operationId: post-agreements
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  agreementId:
                    type: integer
                required:
                  - agreementId
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '500':
          description: Internal Server Error
      description: Create a new Agreement
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    customerId:
                      type: integer
                  required:
                    - customerId
                - $ref: '#/components/schemas/Agreement'
            examples:
              Example 1:
                value:
                  customerId: 1
                  id: 1
                  title: string
                  tokens: 0
                  unitPrice: 0
                  startDate: '2023-07-03'
                  expirationDate: '2023-07-03'
                  note: string
                  isTokenBased: true
      security:
        - JWT: []
  '/agreements/{agreementId}':
    parameters:
      - schema:
          type: string
        name: agreementId
        in: path
        required: true
    put:
      summary: ''
      operationId: put-agreements-agreement-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                    required:
                      - id
                  - $ref: '#/components/schemas/Agreement'
                  - type: object
                    properties:
                      customer:
                        type: object
                        required:
                          - id
                          - company
                        properties:
                          id:
                            type: integer
                          company:
                            type: string
                    required:
                      - customer
              examples:
                Example 1:
                  value:
                    id: 0
                    title: string
                    tokens: 0
                    unitPrice: 0
                    startDate: '2023-07-03'
                    expirationDate: '2023-07-03'
                    note: string
                    isTokenBased: false
                    customer:
                      id: 0
                      company: string
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '500':
          description: Internal Server Error
      description: Put a specific Agreement
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Agreement'
                - type: object
                  properties:
                    customerId:
                      type: integer
                  required:
                    - customerId
            examples:
              Example 1:
                value:
                  id: 1
                  title: string
                  tokens: 165
                  unitPrice: 165
                  startDate: '2023-07-03'
                  expirationDate: '2023-07-03'
                  note: string
                  isTokenBased: true
                  customerId: 0
        description: ''
      security:
        - JWT: []
    delete:
      summary: ''
      operationId: delete-agreements-agreement-id
      responses:
        '200':
          description: OK
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      security:
        - JWT: []
      description: Delete a specific Agreement
    get:
      summary: ''
      operationId: get-agreements-agreement-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                    required:
                      - id
                  - $ref: '#/components/schemas/Agreement'
                  - type: object
                    properties:
                      customer:
                        type: object
                        required:
                          - id
                          - company
                        properties:
                          id:
                            type: integer
                          company:
                            type: string
                    required:
                      - customer
              examples:
                Example 1:
                  value:
                    id: 1
                    title: string
                    tokens: 1
                    unitPrice: 165
                    startDate: '2023-07-03'
                    expirationDate: '2023-07-03'
                    note: string
                    isTokenBased: false
                    customer:
                      id: 1
                      company: string
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      description: Get a specific Agreement
      security:
        - JWT: []
  /authenticate:
    post:
      description: A request to login with your username and password
      summary: ''
      operationId: post-authenticate
      responses:
        '200':
          $ref: '#/components/responses/Authentication'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
              examples:
                example-1:
                  value: string
      tags:
        - Authentication
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
            examples:
              example:
                value:
                  username: Elon71
                  password: my-strong-password
        description: A JSON containing username and password
      parameters: []
  /campaigns:
    post:
      summary: Create a new Campaign
      operationId: post-campaigns
      responses:
        '201':
          $ref: '#/components/responses/SingleCampaign'
        '400':
          $ref: '#/components/responses/MissingParameters'
        '403':
          $ref: '#/components/responses/NotAuthorized'
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Campaign'
                - type: object
                  properties:
                    project_id:
                      type: integer
            examples:
              example:
                value:
                  name: Tesla-Model-3-selfdrive-UX
                  campaign_type: 1
                  customer_title: Tesla Inc.
                  internal_id: T4242
                  dates:
                    start: 17/02/2021
                    end: 17/08/2021
                    close: 17/09/2021
                  status: true
                  language: English (England)
                  public: true
                  hasBugParade: true
                  devices:
                    - id: '2'
                  minNumberOfMedia: 0
                  titleRule: true
                  allowed:
                    severities:
                      - id: 3
                    bug_types:
                      - id: 3
                    replicabilities:
                      - id: '1'
                  projectManager:
                    username: Elon Musk
                  customerCanViewReviewing: true
                  additionalFields:
                    - id: 2
                  project_id: 42
        description: 'The Campaign data to set on the newly created Campaign, including the id of the Project to link the Campaign to'
      description: Create a new Campaign if you have access to the creation
      tags:
        - Campaign
    get:
      summary: Get all available Campaigns
      operationId: get-campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            customerTitle:
                              type: string
                            startDate:
                              type: string
                            endDate:
                              type: string
                            status:
                              type: string
                              enum:
                                - running
                                - closed
                                - incoming
                            visibility:
                              type: string
                              enum:
                                - admin
                                - smallgroup
                                - logged
                                - public
                            resultType:
                              type: string
                              enum:
                                - bug
                                - bugparade
                                - 'no'
                            csm:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                                surname:
                                  type: string
                              required:
                                - id
                                - name
                                - surname
                            customer:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                                - name
                            type:
                              type: object
                              properties:
                                name:
                                  type: string
                                area:
                                  type: string
                                  enum:
                                    - quality
                                    - experience
                              required:
                                - name
                                - area
                            project:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                                - name
                  - $ref: '#/components/schemas/PaginationData'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      description: Get all the Campaigns you have access to
      tags:
        - Campaign
      parameters:
        - schema:
            type: string
          in: query
          name: fields
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - schema:
            type: string
            enum:
              - 'true'
          in: query
          name: mine
          description: Return only your campaign?
          allowEmptyValue: true
        - schema:
            type: string
          in: query
          name: search
          description: A value to search in id or title
        - $ref: '#/components/parameters/order'
        - schema:
            type: string
            enum:
              - id
              - startDate
              - endDate
          in: query
          name: orderBy
          description: The parameter to order by
        - schema: {}
          in: query
          name: filterBy
  /campaigns/owners:
    get:
      summary: Get owners of Campaigns
      operationId: get-campaigns-owners
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    surname:
                      type: string
                  required:
                    - id
                    - name
                    - surname
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      description: Get all the owners of campaigns you have access to
      tags:
        - Campaign
      parameters: []
    parameters: []
  '/campaigns/{campaign}':
    parameters:
      - $ref: '#/components/parameters/campaign'
    get:
      summary: Get a Campaign
      tags:
        - Campaign
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                required:
                  - id
                  - title
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          description: Not Found
      operationId: get-campaigns-campaign
      description: 'Get the data of a Campaign if you have access to it '
      security:
        - JWT: []
    put:
      summary: Edit a Campaign
      operationId: put-campaigns-campaign
      responses:
        '200':
          $ref: '#/components/responses/SingleCampaign'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: 'Edit the data of a Campaign if you have access to it '
      tags:
        - Campaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignOptional'
            examples:
              full-example:
                value:
                  name: Tesla-Model-3-selfdrive-UX
                  customer_title: Tesla Inc.
                  internal_id: T4242
                  dates:
                    start: 17/02/2021
                    end: 17/08/2021
                    close: 17/09/2021
                  status: true
                  language: English (England)
                  public: true
                  hasBugParade: true
                  devices:
                    - id: '2'
                  minNumberOfMedia: 0
                  titleRule: true
                  allowed:
                    severities:
                      - id: 3
                    bug_types:
                      - id: 3
                    replicabilities:
                      - id: '1'
                  projectManager:
                    username: Elon Musk
                  customerCanViewReviewing: true
                  additionalFields:
                    - id: 2
              change-name-example:
                value:
                  name: Tesla-Model-3-selfdrive-UX new name
              update-campaign-token-usage:
                value:
                  tokens: 12
        description: The Campaign data to edit
      security:
        - JWT: []
  '/campaigns/{campaign}/bugs':
    parameters:
      - $ref: '#/components/parameters/campaign'
    get:
      summary: Get all Campaign Bugs
      tags:
        - Campaign
      operationId: get-campaigns-cid-bugs
      description: 'Get all bugs of a Campaign if you have access to it '
      security:
        - JWT: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            title:
                              type: string
                            internalId:
                              type: string
                            status:
                              type: object
                              required:
                                - id
                                - name
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                            type:
                              type: object
                              required:
                                - id
                                - name
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                            severity:
                              type: object
                              required:
                                - id
                                - name
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                            tester:
                              type: object
                              required:
                                - id
                              properties:
                                id:
                                  type: integer
                            tags:
                              type: array
                              items:
                                $ref: '#/components/schemas/BugTag'
                            duplication:
                              type: string
                              enum:
                                - father
                                - unique
                                - duplicated
                            isFavourite:
                              type: boolean
                            created:
                              type: string
                            updated:
                              type: string
                          required:
                            - id
                            - title
                            - internalId
                            - status
                            - type
                            - severity
                            - tester
                            - duplication
                            - isFavourite
                            - created
                            - updated
                    required:
                      - items
                  - $ref: '#/components/schemas/PaginationData'
              examples:
                Example 1:
                  value:
                    items:
                      - id: 0
                        title: string
                        internalId: string
                        status:
                          id: 0
                          name: string
                        type:
                          id: 0
                          name: string
                        severity:
                          id: 0
                          name: string
                        tester:
                          id: 0
                        tags:
                          - id: 0
                            name: string
                        duplication: father
                        isFavourite: true
                        created: string
                        updated: string
                    start: 0
                    limit: 0
                    size: 0
                    total: 0
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/order'
        - schema:
            type: string
            enum:
              - severity
              - testerId
              - status
              - type
              - id
          in: query
          name: orderBy
          description: 'Order values by STATUS, TESTERID, SEVERITY, TYPE, ID'
        - $ref: '#/components/parameters/filterBy'
  '/campaigns/{campaign}/groups':
    parameters:
      - name: campaign
        in: path
        required: true
        schema:
          type: string
        description: A campaign id
    get:
      summary: Get all Campaign Groups
      tags:
        - Campaign
      operationId: get-campaigns-cid-groups
      description: 'Get all groups used in a Campaign if you have access to it '
      security:
        - JWT: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                  required:
                    - id
                    - name
              examples: {}
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters: []
  '/campaigns/{campaign}/candidates':
    parameters:
      - name: campaign
        in: path
        required: true
        schema:
          type: string
        description: A campaign id
    post:
      summary: ''
      operationId: post-campaigns-campaign-candidates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        tester_id:
                          type: number
                        device:
                          oneOf:
                            - type: string
                              properties: {}
                              enum:
                                - any
                            - type: number
                              properties: {}
                        campaignId:
                          type: number
                      required:
                        - tester_id
                required:
                  - results
        '207':
          description: Multi-Status (WebDAV)
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        tester_id:
                          type: number
                        device:
                          oneOf:
                            - type: string
                              enum:
                                - any
                            - type: number
                        campaignId:
                          type: number
                      required:
                        - tester_id
                  invalidTesters:
                    type: array
                    items:
                      type: number
                required:
                  - results
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: The Tryber will be inserted as a candidate Tryber on a specific Campaign
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: array
                  items:
                    type: object
                    properties:
                      tester_id:
                        type: number
                      device:
                        oneOf:
                          - type: number
                            properties: {}
                          - type: string
                            properties: {}
                            enum:
                              - random
                    required:
                      - tester_id
                - type: object
                  properties:
                    tester_id:
                      type: number
                    device:
                      oneOf:
                        - type: number
                          properties: {}
                        - type: string
                          properties: {}
                          enum:
                            - random
                  required:
                    - tester_id
      parameters: []
    get:
      summary: Get all candidates for a campaign
      operationId: get-campaigns-campaign-candidates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            surname:
                              type: string
                            experience:
                              type: integer
                            level:
                              type: string
                            devices:
                              type: array
                              items:
                                type: object
                                properties:
                                  manufacturer:
                                    type: string
                                  model:
                                    type: string
                                  os:
                                    type: string
                                  osVersion:
                                    type: string
                                  id:
                                    type: number
                                required:
                                  - os
                                  - osVersion
                                  - id
                            questions:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  title:
                                    type: string
                                  value:
                                    type: string
                          required:
                            - id
                            - name
                            - surname
                            - experience
                            - level
                            - devices
                  - $ref: '#/components/schemas/PaginationData'
              examples:
                example-2:
                  value:
                    results:
                      - id: 1234
                        name: Giulia
                        surname: Baldini
                        experience: 21541
                        level: Diamond
                        devices:
                          - id: 0
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: Samsung
                            model: Galaxy M31
                            id: 1
                            os: Android
                            osVersion: 12 (12)
                          - manufacturer: Apple
                            model: iPad
                            id: 2
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - manufacturer: Apple
                            model: iPhone SE (2020)
                            id: 3
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - id: 4
                            os: Windows
                            osVersion: Windows 11
                          - manufacturer: Google
                            model: Pixel 6
                            id: 5
                            os: Android
                            osVersion: 13(beta) (13(beta))
                      - id: 1235
                        name: Cesare
                        surname: Alagna
                        experience: 4390
                        level: Platinum
                        devices:
                          - id: 6
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Xiaomi
                            model: Redmi 8
                            id: 7
                            os: Android
                            osVersion: 11 (11)
                      - id: 12346
                        name: Carlo
                        surname: Paolini
                        experience: 33745
                        level: Diamond
                        devices:
                          - manufacturer: Huawei
                            model: Mate 20 Pro
                            id: 8
                            os: Android
                            osVersion: 10 (10.0)
                      - id: 1239
                        name: Chiara
                        surname: Mancini
                        experience: 28310
                        level: Platinum
                        devices:
                          - id: 9
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey) (12.1)
                          - manufacturer: Xiaomi
                            model: Mi 11 Lite
                            id: 10
                            os: Android
                            osVersion: 12 (12)
                      - id: 1236
                        name: Rosa
                        surname: Contralto
                        experience: 3035
                        level: Platinum
                        devices:
                          - id: 11
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Samsung
                            model: Galaxy S20 FE
                            id: 12
                            os: Android
                            osVersion: 12 (12)
                      - id: 12356
                        name: Beppe
                        surname: Gianduiotto
                        experience: 38619
                        level: Diamond
                        devices:
                          - manufacturer: Apple
                            model: iPad Pro 12.9
                            id: 13
                            os: iOS
                            osVersion: iOS 15.7 (15.7)
                          - manufacturer: Samsung
                            model: Galaxy A20e
                            id: 14
                            os: Android
                            osVersion: 11 (11)
                      - id: 12369
                        name: Monica
                        surname: Lorenzini
                        experience: 7672
                        level: Platinum
                        devices:
                          - id: 15
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Asus
                            model: ZenFone 5 (ZE620KL)
                            id: 16
                            os: Android
                            osVersion: Pie (9.0)
                      - id: 12389
                        name: Tullio
                        surname: De Sica
                        experience: 2081
                        level: Platinum
                        devices:
                          - manufacturer: Apple
                            model: iPhone 14 Pro Max
                            id: 17
                            os: iOS
                            osVersion: iOS 16(beta) (16(beta))
                      - id: 12340
                        name: Persio
                        surname: Panfalone
                        experience: 8577
                        level: Platinum
                        devices:
                          - manufacturer: Xiaomi
                            model: Mi 10T
                            id: 18
                            os: Android
                            osVersion: 11 (11)
                          - id: 19
                            os: MacOS
                            osVersion: Mac OS X 10.15 (Catalina)
                          - manufacturer: Apple
                            model: iPad
                            id: 20
                            os: iOS
                            osVersion: iOS 12.4.9 (12.4.9)
                      - id: 12349
                        name: Bernardo
                        surname: Tognazzi
                        experience: 16471
                        level: Diamond
                        devices:
                          - id: 21
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: Honor
                            model: 20 Lite
                            id: 22
                            os: Android
                            osVersion: 10 (10.0)
                          - manufacturer: Huawei
                            model: P smart S
                            id: 23
                            os: Android
                            osVersion: 10 (10.0)
                      - id: 12379
                        name: Vincenza
                        surname: Giacomazzi
                        experience: 7703
                        level: Platinum
                        devices:
                          - manufacturer: Samsung
                            model: Galaxy A52s
                            id: 24
                            os: Android
                            osVersion: 12 (12)
                      - id: 12394
                        name: Serena
                        surname: Gementi
                        experience: 14671
                        level: Diamond
                        devices:
                          - id: 25
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey) (12.0)
                          - manufacturer: Apple
                            model: iPad 6 (2018)
                            id: 26
                            os: iOS
                            osVersion: iOS 15.7 (15.7)
                      - id: 12344
                        name: Chiara
                        surname: Veronesi
                        experience: 6927
                        level: Platinum
                        devices:
                          - manufacturer: Huawei
                            model: P30 Lite
                            id: 27
                            os: Android
                            osVersion: 10 (10.0)
                          - id: 28
                            os: Windows
                            osVersion: Windows 8.1 (8.1)
                      - id: 12398
                        name: Fabrizio
                        surname: Familiari
                        experience: 6240
                        level: Platinum
                        devices:
                          - id: 29
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                      - id: 12355
                        name: Andrea
                        surname: Vigoni
                        experience: 9551
                        level: Platinum
                        devices:
                          - manufacturer: OPPO
                            model: Reno4 Pro
                            id: 30
                            os: Android
                            osVersion: 11 (11)
                          - id: 31
                            os: Windows
                            osVersion: Windows 10 May 2020 Update (19041)
                      - id: 12377
                        name: Federico
                        surname: Faenza
                        experience: 6900
                        level: Platinum
                        devices:
                          - manufacturer: Samsung
                            model: Galaxy S8
                            id: 32
                            os: Android
                            osVersion: Pie (9.0)
                          - manufacturer: Samsung
                            model: Galaxy Tab S6
                            id: 33
                            os: Android
                            osVersion: 10 (10.0)
                          - id: 34
                            os: Windows
                            osVersion: Windows 10 November 2019 Update (18363.778)
                          - manufacturer: Samsung
                            model: Galaxy S20 FE
                            id: 35
                            os: Android
                            osVersion: 12 (12)
                      - id: 12391
                        name: Leonardo
                        surname: Di Stefano
                        experience: 4657
                        level: Gold
                        devices:
                          - manufacturer: Apple
                            model: iPhone X
                            id: 36
                            os: iOS
                            osVersion: iOS 15.0.2 (15.0.2)
                      - id: 12374
                        name: Tatiana
                        surname: Bongiorno
                        experience: 24180
                        level: Diamond
                        devices:
                          - manufacturer: Samsung
                            model: Galaxy A52s
                            id: 37
                            os: Android
                            osVersion: 12 (12)
                      - id: 12350
                        name: Zaira
                        surname: Amato
                        experience: 32403
                        level: Diamond
                        devices:
                          - id: 38
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - id: 39
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                      - id: 12321
                        name: Lele
                        surname: Miccione
                        experience: 7715
                        level: Platinum
                        devices:
                          - manufacturer: Xiaomi
                            model: Mi 9T
                            id: 40
                            os: Android
                            osVersion: 12 (12)
                          - manufacturer: Xiaomi
                            model: Mi 9T
                            id: 41
                            os: Android
                            osVersion: 10 (10.0)
                      - id: 12387
                        name: Marzia
                        surname: Kostner
                        experience: 3083
                        level: Platinum
                        devices:
                          - id: 42
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                      - id: 12342
                        name: Daniel
                        surname: Cilenti
                        experience: 20757
                        level: Diamond
                        devices:
                          - id: 43
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: Google
                            model: Pixel 6
                            id: 44
                            os: Android
                            osVersion: 12 (12)
                      - id: 12311
                        name: David
                        surname: Surace
                        experience: 5994
                        level: Platinum
                        devices:
                          - id: 45
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                      - id: 12329
                        name: Daniela
                        surname: Mogliacci
                        experience: 4033
                        level: Silver
                        devices:
                          - manufacturer: Apple
                            model: iPhone 11
                            id: 46
                            os: iOS
                            osVersion: iOS 14.3 (14.3)
                          - id: 47
                            os: Windows
                            osVersion: Windows 10 November 2019 Update (18363.778)
                      - id: 12392
                        name: Gesualdo
                        surname: Savona
                        experience: 5794
                        level: Platinum
                        devices:
                          - id: 48
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Samsung
                            model: Galaxy A70
                            id: 49
                            os: Android
                            osVersion: 11 (11)
                          - id: 50
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                      - id: 12344
                        name: Neil
                        surname: De Luca
                        experience: 6215
                        level: Platinum
                        devices:
                          - manufacturer: Apple
                            model: iPhone 12 Pro Max
                            id: 51
                            os: iOS
                            osVersion: iOS 15.0.2 (15.0.2)
                      - id: 123509
                        name: Melania
                        surname: Vignati
                        experience: 19669
                        level: Diamond
                        devices:
                          - manufacturer: Xiaomi
                            model: Redmi Note 7
                            id: 52
                            os: Android
                            osVersion: 10 (10.0)
                          - id: 53
                            os: Windows
                            osVersion: Windows 11
                          - manufacturer: realme
                            model: GT 5G
                            id: 54
                            os: Android
                            osVersion: 12 (12)
                      - id: 123495
                        name: Fabio
                        surname: Barbato
                        experience: 14727
                        level: Diamond
                        devices:
                          - manufacturer: LG
                            model: G8 ThinQ
                            id: 55
                            os: Android
                            osVersion: 12 (12)
                      - id: 123409
                        name: Daniele
                        surname: Minelli
                        experience: 21490
                        level: Diamond
                        devices:
                          - id: 56
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: realme
                            model: 7 Pro
                            id: 57
                            os: Android
                            osVersion: 12 (12)
                      - id: 123098
                        name: Davide
                        surname: Bracconi
                        experience: 7654
                        level: Platinum
                        devices:
                          - id: 58
                            os: MacOS
                            osVersion: Mac OS X 10.9 (Mavericks) (10.9)
                          - manufacturer: Xiaomi
                            model: Redmi Note 8T
                            id: 59
                            os: Android
                            osVersion: 10 (10.0)
                          - id: 60
                            os: Windows
                            osVersion: Windows 10 October 2020 Update (19042)
                      - id: 123702
                        name: Cecilia
                        surname: Modica
                        experience: 6457
                        level: Platinum
                        devices:
                          - manufacturer: OPPO
                            model: Find X3 Lite
                            id: 61
                            os: Android
                            osVersion: 12 (12)
                          - id: 62
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                      - id: 123967
                        name: Germanno
                        surname: Gelsomini
                        experience: 11688
                        level: Platinum
                        devices:
                          - id: 63
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey) (12.1)
                      - id: 123987
                        name: Giuliano
                        surname: Panzerotti
                        experience: 29336
                        level: Gold
                        devices:
                          - manufacturer: Samsung
                            model: Galaxy Tab S6
                            id: 64
                            os: Android
                            osVersion: 11 (11)
                      - id: 1234509
                        name: Giovanna
                        surname: Romani
                        experience: 9291
                        level: Platinum
                        devices:
                          - id: 65
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Huawei
                            model: P20 Lite
                            id: 66
                            os: Android
                            osVersion: 11 (11)
                      - id: 12367809
                        name: Carmelo
                        surname: Oreto
                        experience: 31122
                        level: Platinum
                        devices:
                          - manufacturer: OnePlus
                            model: 6T
                            id: 67
                            os: Android
                            osVersion: 11 (11)
                          - manufacturer: Apple
                            model: iPhone 11 Pro Max
                            id: 68
                            os: iOS
                            osVersion: iOS 16(beta) (16(beta))
                          - id: 69
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey) (12.1)
                          - id: 70
                            os: Windows
                            osVersion: Windows 11 (22471)
                          - manufacturer: Google
                            model: Pixel 4a 5G
                            id: 71
                            os: Android
                            osVersion: 13(beta) (13(beta))
                          - manufacturer: Samsung
                            model: Galaxy A52s
                            id: 72
                            os: Android
                            osVersion: 12 (12)
                      - id: 12321245
                        name: Antonia
                        surname: Mione
                        experience: 18209
                        level: Diamond
                        devices:
                          - id: 73
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: Xiaomi
                            model: Redmi Note 8 Pro
                            id: 74
                            os: Android
                            osVersion: 11 (11)
                          - manufacturer: Lenovo
                            model: Miix 10
                            id: 75
                            os: Android
                            osVersion: 10 (10.0)
                      - id: 123012
                        name: Nicoletta
                        surname: Scarlatti
                        experience: 9360
                        level: Platinum
                        devices:
                          - manufacturer: Xiaomi
                            model: Pocophone F1
                            id: 76
                            os: Android
                            osVersion: 10 (10.0)
                          - id: 77
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Samsung
                            model: Galaxy A52s
                            id: 78
                            os: Android
                            osVersion: 12 (12)
                      - id: 1230343
                        name: Pio
                        surname: Margiotta
                        experience: 1253
                        level: Silver
                        devices:
                          - id: 79
                            os: Windows
                            osVersion: Windows 10 May 2020 Update (19041)
                          - id: 80
                            os: Windows
                            osVersion: Windows 10 May 2020 Update (19041)
                          - manufacturer: Xiaomi
                            model: Redmi Note 10 Pro
                            id: 81
                            os: Android
                            osVersion: 12 (12)
                      - id: 1239485
                        name: Giosuè
                        surname: Taddei
                        experience: 15164
                        level: Platinum
                        devices:
                          - id: 82
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: Samsung
                            model: Galaxy S6
                            id: 83
                            os: Android
                            osVersion: Nougat (7.0)
                          - manufacturer: Apple
                            model: iPad
                            id: 84
                            os: iOS
                            osVersion: iOS 15.6.1 (15.6.1)
                      - id: 1237968
                        name: Vittoria
                        surname: Amitrani
                        experience: 17744
                        level: Diamond
                        devices:
                          - id: 85
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Samsung
                            model: Galaxy A52s
                            id: 86
                            os: Android
                            osVersion: 12 (12)
                          - id: 87
                            os: Windows
                            osVersion: Windows 11
                      - id: 12356673
                        name: Valeria
                        surname: Mazzancolle
                        experience: 12162
                        level: Diamond
                        devices:
                          - id: 88
                            os: Windows
                            osVersion: Windows 11
                      - id: 12349120
                        name: Vera
                        surname: Amedei
                        experience: 8428
                        level: Platinum
                        devices:
                          - manufacturer: OnePlus
                            model: Nord
                            id: 89
                            os: Android
                            osVersion: 11 (11)
                      - id: 1238299
                        name: Germanno
                        surname: Domini
                        experience: 54373
                        level: Diamond
                        devices:
                          - id: 90
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - id: 91
                            os: Windows
                            osVersion: Windows XP (5.1)
                          - id: 92
                            os: Windows
                            osVersion: Windows 8.1 (8.1)
                          - manufacturer: Honor
                            model: View 10
                            id: 93
                            os: Android
                            osVersion: 10 (10.0)
                          - id: 94
                            os: MacOS
                            osVersion: Mac OS X 11 (Big Sur) (11.0.1)
                          - id: 95
                            os: Windows
                            osVersion: Windows 7
                          - manufacturer: Lenovo
                            model: Tab10 TB-X103F
                            id: 96
                            os: Android
                            osVersion: 10 (10.0)
                          - manufacturer: Apple
                            model: iPhone 8
                            id: 97
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                      - id: 123525
                        name: Melania
                        surname: Giorgi
                        experience: 38073
                        level: Platinum
                        devices:
                          - id: 98
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: Samsung
                            model: Galaxy S20
                            id: 99
                            os: Android
                            osVersion: 12 (12)
                      - id: 1230729
                        name: Barbara
                        surname: Neri
                        experience: 9264
                        level: Gold
                        devices:
                          - id: 100
                            os: Windows
                            osVersion: Windows 10 November 2019 Update (18363.778)
                          - manufacturer: Samsung
                            model: Galaxy J7 (2017)
                            id: 101
                            os: Android
                            osVersion: Pie (9.0)
                          - manufacturer: Samsung
                            model: Galaxy A32
                            id: 102
                            os: Android
                            osVersion: 12 (12)
                      - id: 12348134
                        name: Emanuele
                        surname: Romanini
                        experience: 16756
                        level: Diamond
                        devices:
                          - manufacturer: Samsung
                            model: Galaxy A52
                            id: 103
                            os: Android
                            osVersion: 12 (12)
                      - id: 123457948
                        name: Roberta
                        surname: Vergnano
                        experience: 1466
                        level: Gold
                        devices:
                          - id: 104
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                      - id: 12347681
                        name: Luisa
                        surname: Contecelli
                        experience: 10800
                        level: Platinum
                        devices:
                          - manufacturer: Apple
                            model: iPhone 11 Pro
                            id: 105
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                      - id: 125042
                        name: Quirino
                        surname: Agnellini
                        experience: 12481
                        level: Diamond
                        devices:
                          - id: 106
                            os: MacOS
                            osVersion: Mac OS X 10.11 (El Capitan) (10.11)
                          - manufacturer: Xiaomi
                            model: Redmi Note 7
                            id: 107
                            os: Android
                            osVersion: Pie (9.0)
                      - id: 123628
                        name: Santo
                        surname: Mosca
                        experience: 5309
                        level: Platinum
                        devices:
                          - id: 108
                            os: Windows
                            osVersion: Windows 11 (22471)
                          - manufacturer: Apple
                            model: iPhone 13
                            id: 109
                            os: iOS
                            osVersion: iOS 16 (16)
                      - id: 1236562
                        name: Annalisa
                        surname: De Luca
                        experience: 4357
                        level: Silver
                        devices:
                          - id: 110
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey) (12.1)
                      - id: 123451742
                        name: Edigildo
                        surname: Mazzanti
                        experience: 4846
                        level: Platinum
                        devices:
                          - id: 111
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Apple
                            model: iPhone 12
                            id: 112
                            os: iOS
                            osVersion: iOS 16 (16)
                          - manufacturer: Apple
                            model: iPad Air 2
                            id: 113
                            os: iOS
                            osVersion: iOS 15.4 (15.4)
                      - id: 125731
                        name: Zamir
                        surname: Xhafaj
                        experience: 18249
                        level: Diamond
                        devices:
                          - manufacturer: Huawei
                            model: Mate 20 lite
                            id: 114
                            os: Android
                            osVersion: 12 (12)
                          - id: 115
                            os: Windows
                            osVersion: Windows 10 May 2020 Update (19041)
                      - id: 12436261
                        name: Giorgia
                        surname: Zanta
                        experience: 7117
                        level: Platinum
                        devices:
                          - manufacturer: realme
                            model: 7 Pro
                            id: 116
                            os: Android
                            osVersion: 12 (12)
                      - id: 12358545
                        name: Stefano
                        surname: Modica
                        experience: 3538
                        level: Platinum
                        devices:
                          - id: 117
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Samsung
                            model: Galaxy A70
                            id: 118
                            os: Android
                            osVersion: 11 (11)
                      - id: 12352648
                        name: Silvia
                        surname: Padani
                        experience: 11088
                        level: Diamond
                        devices:
                          - id: 119
                            os: Windows
                            osVersion: Windows 11 (22471)
                          - manufacturer: Xiaomi
                            model: 11T Pro
                            id: 120
                            os: Android
                            osVersion: 12beta (12beta)
                      - id: 12773
                        name: Natalia
                        surname: Franceschini
                        experience: 48175
                        level: Diamond
                        devices:
                          - id: 121
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey) (12.0)
                          - manufacturer: Huawei
                            model: Mate 20 Pro
                            id: 122
                            os: Android
                            osVersion: 12 (12)
                          - manufacturer: Apple
                            model: iPhone 13 Pro Max
                            id: 123
                            os: iOS
                            osVersion: iOS 16(beta) (16(beta))
                      - id: 125108
                        name: Luciano
                        surname: Ricciardi
                        experience: 13689
                        level: Diamond
                        devices:
                          - manufacturer: Samsung
                            model: Galaxy A20e
                            id: 124
                            os: Android
                            osVersion: 11 (11)
                      - id: 12450861
                        name: Andrea
                        surname: Rimini
                        experience: 6648
                        level: Platinum
                        devices:
                          - manufacturer: Apple
                            model: iPhone XS
                            id: 125
                            os: iOS
                            osVersion: iOS 16 (16)
                      - id: 12358201
                        name: Domenico
                        surname: Gatti
                        experience: 4190
                        level: Platinum
                        devices:
                          - id: 126
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - id: 127
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                      - id: 1230678
                        name: Sergio
                        surname: Hoxha
                        experience: 4213
                        level: Bronze
                        devices:
                          - id: 128
                            os: Windows
                            osVersion: Windows 10 (10240.16405)
                          - manufacturer: Apple
                            model: iPhone 13
                            id: 129
                            os: iOS
                            osVersion: iOS 16(beta) (16(beta))
                      - id: 1239040
                        name: Galileo
                        surname: Albertini
                        experience: 10181
                        level: Diamond
                        devices:
                          - id: 130
                            os: Windows
                            osVersion: Windows 11
                          - id: 131
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey)
                          - manufacturer: Samsung
                            model: Galaxy S9+
                            id: 132
                            os: Android
                            osVersion: 10 (10.0)
                          - manufacturer: Apple
                            model: iPhone 13
                            id: 133
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                      - id: 1239705
                        name: Maria
                        surname: Cangemi
                        experience: 16753
                        level: Diamond
                        devices:
                          - id: 134
                            os: Windows
                            osVersion: Windows 8 (8.0)
                      - id: 12356997
                        name: Luciana
                        surname: Sgattani
                        experience: 4481
                        level: Platinum
                        devices:
                          - id: 135
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - id: 136
                            os: Windows
                            osVersion: Windows 11
                          - id: 137
                            os: Windows
                            osVersion: Windows 8.1
                          - id: 138
                            os: Windows
                            osVersion: Windows 8
                          - id: 139
                            os: Windows
                            osVersion: Windows 7
                          - id: 140
                            os: Windows
                            osVersion: Windows Vista
                          - id: 141
                            os: Windows
                            osVersion: Windows Vista
                          - id: 142
                            os: Windows
                            osVersion: Windows XP
                          - id: 143
                            os: MacOS
                            osVersion: Mac OS X 10.15 (Catalina)
                          - id: 144
                            os: MacOS
                            osVersion: Mac OS X 10.14 (Mojave)
                          - id: 145
                            os: MacOS
                            osVersion: Mac OS X 10.13 (High Sierra)
                          - id: 146
                            os: MacOS
                            osVersion: Mac OS X 10.12 (Sierra)
                          - id: 147
                            os: MacOS
                            osVersion: Mac OS X 10.11 (El Capitan)
                          - id: 148
                            os: MacOS
                            osVersion: Mac OS X 10.10 (Yosemite)
                          - id: 149
                            os: MacOS
                            osVersion: Mac OS X 10.8 (Mountain Lion)
                          - id: 150
                            os: MacOS
                            osVersion: Mac OS X 11 (Big Sur)
                          - id: 151
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey)
                          - manufacturer: Samsung
                            model: Galaxy A32
                            id: 152
                            os: Android
                            osVersion: 12 (12)
                          - manufacturer: Samsung
                            model: Galaxy J6
                            id: 153
                            os: Android
                            osVersion: 10 (10.0)
                          - manufacturer: Apple
                            model: iPhone 11
                            id: 154
                            os: iOS
                            osVersion: iOS 15.5 (15.5)
                          - manufacturer: Apple
                            model: iPhone 7 Plus
                            id: 155
                            os: iOS
                            osVersion: iOS 15.5 (15.5)
                          - manufacturer: Chuwi
                            model: Hi10
                            id: 156
                            os: Android
                            osVersion: Oreo (8.1)
                          - manufacturer: Apple
                            model: iPad Pro 9.7
                            id: 157
                            os: iOS
                            osVersion: iOS 15.5 (15.5)
                      - id: 1225012
                        name: Alessia
                        surname: Costantino
                        experience: 31814
                        level: Platinum
                        devices:
                          - id: 158
                            os: Windows
                            osVersion: Windows 10 May 2020 Update (19041)
                          - manufacturer: Apple
                            model: iPad 6 (2018)
                            id: 159
                            os: iOS
                            osVersion: iOS 15.3 (15.3)
                          - manufacturer: Samsung
                            model: Galaxy Tab A 10.1 LTE (2019)
                            id: 160
                            os: Android
                            osVersion: 10 (10.0)
                          - manufacturer: Apple
                            model: iPhone 12
                            id: 161
                            os: iOS
                            osVersion: iOS 15.4 (15.4)
                      - id: 127273
                        name: Laura
                        surname: Colli
                        experience: 10774
                        level: Gold
                        devices:
                          - id: 162
                            os: Windows
                            osVersion: Windows 10 May 2020 Update (19041)
                          - manufacturer: Apple
                            model: iPhone 8
                            id: 163
                            os: iOS
                            osVersion: iOS 15.4 (15.4)
                          - manufacturer: Apple
                            model: iPad (2017)
                            id: 164
                            os: iOS
                            osVersion: iOS 14.4.2 (14.4.2)
                          - manufacturer: Samsung
                            model: Galaxy Tab A 10.1 LTE (2019)
                            id: 165
                            os: Android
                            osVersion: 11 (11)
                          - manufacturer: Apple
                            model: iPhone 12
                            id: 166
                            os: iOS
                            osVersion: iOS 15.4 (15.4)
                      - id: 12349917
                        name: Santocino
                        surname: Pavetti
                        experience: 5880
                        level: Platinum
                        devices:
                          - id: 167
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - id: 168
                            os: Windows
                            osVersion: Windows 10 May 2020 Update
                          - manufacturer: Xiaomi
                            model: Redmi Note 8T
                            id: 169
                            os: Android
                            osVersion: 11 (11)
                          - manufacturer: Xiaomi
                            model: Redmi 9
                            id: 170
                            os: Android
                            osVersion: 10 (10.0)
                          - manufacturer: Wiko
                            model: Y60 (Wiko)
                            id: 171
                            os: Android
                            osVersion: 11 (11)
                          - manufacturer: Samsung
                            model: Galaxy J3 (2016)
                            id: 172
                            os: Android
                            osVersion: Oreo (8.0)
                          - manufacturer: Xiaomi
                            model: Redmi Note 10 Pro
                            id: 173
                            os: Android
                            osVersion: 12 (12)
                          - manufacturer: Mediacom
                            model: SmartPad 9.7 Mobile
                            id: 174
                            os: Android
                            osVersion: Pie (9.0)
                          - manufacturer: Samsung
                            model: Galaxy A32
                            id: 175
                            os: Android
                            osVersion: 11 (11)
                      - id: 129132
                        name: Nera
                        surname: Raimondi
                        experience: 5491
                        level: Gold
                        devices:
                          - id: 176
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                      - id: 1231098
                        name: Gigliola
                        surname: Serio
                        experience: 14834
                        level: Platinum
                        devices:
                          - id: 177
                            os: Windows
                            osVersion: Windows 11
                      - id: 123456707
                        name: Emmanuel
                        surname: Tucicano
                        experience: 3661
                        level: Platinum
                        devices:
                          - id: 178
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                      - id: 12345248
                        name: Renato
                        surname: Pimenti
                        experience: 59051
                        level: Diamond
                        devices:
                          - manufacturer: Lg
                            model: G5
                            id: 179
                            os: Android
                            osVersion: Oreo (8.0)
                          - id: 180
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - id: 181
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: Samsung
                            model: Galaxy J3 (2016)
                            id: 182
                            os: Android
                            osVersion: Lollipop (5.1.1)
                          - manufacturer: Samsung
                            model: Galaxy S5
                            id: 183
                            os: Android
                            osVersion: Lollipop (5.0)
                          - manufacturer: Wiko
                            model: Jimmy
                            id: 184
                            os: Android
                            osVersion: Jelly Bean (4.2.2)
                          - manufacturer: Samsung
                            model: Galaxy A40
                            id: 185
                            os: Android
                            osVersion: 12 (12)
                          - manufacturer: Samsung
                            model: Galaxy S20 5G
                            id: 186
                            os: Android
                            osVersion: 12 (12)
                          - manufacturer: Samsung
                            model: Galaxy Tab 7.0 wifi
                            id: 187
                            os: Android
                            osVersion: 11 (11)
                      - id: 12048
                        name: Giacoma
                        surname: Santamaria
                        experience: 81698
                        level: Diamond
                        devices:
                          - manufacturer: Lg
                            model: G5
                            id: 188
                            os: Android
                            osVersion: Oreo (8.0)
                          - manufacturer: Samsung
                            model: Galaxy S5
                            id: 189
                            os: Android
                            osVersion: Marshmallow (6.0.1)
                          - id: 190
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - id: 191
                            os: Windows
                            osVersion: Windows 10 May 2020 Update (19041)
                          - manufacturer: Lenovo
                            model: Yoga Tab 3 10.0
                            id: 192
                            os: Android
                            osVersion: Nougat (7.1.1)
                          - manufacturer: Samsung
                            model: Galaxy A52s
                            id: 193
                            os: Android
                            osVersion: 12 (12)
                          - manufacturer: Samsung
                            model: Galaxy S20 FE
                            id: 194
                            os: Android
                            osVersion: 12 (12)
                          - manufacturer: HTC
                            model: Desire S
                            id: 195
                            os: Android
                            osVersion: KitKat (4.4.1)
                      - id: 12348053
                        name: Patrizio
                        surname: Alessandrini
                        experience: 5496
                        level: Platinum
                        devices:
                          - id: 196
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                      - id: 1228135
                        name: Dario
                        surname: Moccia
                        experience: 11215
                        level: Platinum
                        devices:
                          - id: 197
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: realme
                            model: GT 5G
                            id: 198
                            os: Android
                            osVersion: 12 (12)
                      - id: 125082
                        name: Iacono
                        surname: Biondi
                        experience: 37039
                        level: Diamond
                        devices:
                          - id: 199
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: Apple
                            model: iPhone 11
                            id: 200
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - manufacturer: Apple
                            model: iPad Air 2
                            id: 201
                            os: iOS
                            osVersion: iOS 14.4 (14.4)
                      - id: 1231558
                        name: Nicoletta
                        surname: Messina
                        experience: 22816
                        level: Platinum
                        devices:
                          - manufacturer: Samsung
                            model: Galaxy M21
                            id: 202
                            os: Android
                            osVersion: 12 (12)
                          - id: 203
                            os: MacOS
                            osVersion: Mac OS X 10.15 (Catalina) (10.15.7)
                          - manufacturer: Apple
                            model: iPhone SE (2020)
                            id: 204
                            os: iOS
                            osVersion: iOS 15.6.1 (15.6.1)
                      - id: 123455033
                        name: Lilla
                        surname: Pepe
                        experience: 1295
                        level: Gold
                        devices:
                          - id: 205
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - id: 206
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Xiaomi
                            model: Poco M3
                            id: 207
                            os: Android
                            osVersion: 10 (10.0)
                          - manufacturer: Apple
                            model: iPad
                            id: 208
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                      - id: 123453001
                        name: Silvio
                        surname: Banfi
                        experience: 13924
                        level: Diamond
                        devices:
                          - manufacturer: Samsung
                            model: Galaxy Tab A 10.1 (2019)
                            id: 209
                            os: Android
                            osVersion: 11 (11)
                          - id: 210
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: Samsung
                            model: Galaxy A52
                            id: 211
                            os: Android
                            osVersion: 12beta (12beta)
                      - id: 12345211
                        name: Angelo
                        surname: Bologna
                        experience: 5106
                        level: Platinum
                        devices:
                          - id: 212
                            os: Windows
                            osVersion: Windows 11 (22471)
                      - id: 12357352
                        name: Paolini
                        surname: Tapia
                        experience: 4413
                        level: Platinum
                        devices:
                          - id: 213
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey) (12.1)
                          - manufacturer: Xiaomi
                            model: Poco X3 Pro
                            id: 214
                            os: Android
                            osVersion: 12 (12)
                      - id: 12357938
                        name: Matt765
                        surname: Pisani
                        experience: 3249
                        level: Platinum
                        devices:
                          - id: 215
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - manufacturer: OnePlus
                            model: '8'
                            id: 216
                            os: Android
                            osVersion: 12 (12)
                      - id: 12346015
                        name: Ilaria
                        surname: Crocetta
                        experience: 13496
                        level: Diamond
                        devices:
                          - manufacturer: LG
                            model: G7 ThinQ
                            id: 217
                            os: Android
                            osVersion: 10 (10.0)
                      - id: 12351135
                        name: Adele
                        surname: Segreti
                        experience: 7550
                        level: Platinum
                        devices:
                          - id: 218
                            os: Windows
                            osVersion: Windows 11 (22471)
                          - manufacturer: Samsung
                            model: Galaxy S6
                            id: 219
                            os: Android
                            osVersion: Nougat (7.0)
                          - manufacturer: OnePlus
                            model: 6T
                            id: 220
                            os: Android
                            osVersion: 11 (11)
                      - id: 1234599
                        name: Amato
                        surname: Arona
                        experience: 4436
                        level: Platinum
                        devices:
                          - id: 221
                            os: Windows
                            osVersion: Windows 11
                          - manufacturer: Xiaomi
                            model: Redmi Note 8 Pro
                            id: 222
                            os: Android
                            osVersion: 11 (11)
                          - id: 223
                            os: MacOS
                            osVersion: Mac OS X 10.15 (Catalina)
                          - manufacturer: Microsoft
                            model: Surface Pro 4
                            id: 224
                            os: Windows
                            osVersion: Windows 11 (22471)
                      - id: 1677951
                        name: Liliana
                        surname: Severini
                        experience: 3045
                        level: Bronze
                        devices:
                          - manufacturer: Samsung
                            model: Galaxy A22 5G
                            id: 225
                            os: Android
                            osVersion: 11 (11)
                      - id: 123458189
                        name: Andromeda
                        surname: De Santis
                        experience: 2157
                        level: Gold
                        devices:
                          - id: 226
                            os: Windows
                            osVersion: Windows 11
                      - id: 123796
                        name: Felice
                        surname: Schiavo
                        experience: 4972
                        level: Platinum
                        devices:
                          - manufacturer: Apple
                            model: iPhone 12 mini
                            id: 227
                            os: iOS
                            osVersion: iOS 15.5 (15.5)
                          - id: 228
                            os: MacOS
                            osVersion: Mac OS X 11 (Big Sur)
                      - id: 12354259
                        name: Mariano
                        surname: Pellegrini
                        experience: 4116
                        level: Platinum
                        devices:
                          - id: 229
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                      - id: 122275
                        name: Elia
                        surname: Alessi
                        experience: 7846
                        level: Platinum
                        devices:
                          - id: 230
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                      - id: 1231454
                        name: Romina
                        surname: Power
                        experience: 7855
                        level: Platinum
                        devices:
                          - manufacturer: Apple
                            model: iPhone 12
                            id: 231
                            os: iOS
                            osVersion: iOS 16 (16)
                      - id: 12348229
                        name: Aleandro
                        surname: Serio
                        experience: 1055
                        level: Bronze
                        devices:
                          - manufacturer: Apple
                            model: iPhone 13 Pro Max
                            id: 232
                            os: iOS
                            osVersion: iOS 15.3 (15.3)
                      - id: 12357647
                        name: Fabrizio
                        surname: Cecchi
                        experience: 3407
                        level: Platinum
                        devices:
                          - id: 233
                            os: MacOS
                            osVersion: Mac OS X 10.15 (Catalina)
                      - id: 12352064
                        name: Mariano
                        surname: Arabelli
                        experience: 6669
                        level: Platinum
                        devices:
                          - manufacturer: Apple
                            model: iPhone XR
                            id: 234
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                    start: 0
                    limit: 0
                    size: 0
                    total: 93
                example-with-questions:
                  value:
                    results:
                      - id: 1344163
                        name: Sandro
                        surname: Gentilini
                        experience: 21541
                        level: Diamond
                        devices:
                          - id: 0
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - manufacturer: Samsung
                            model: Galaxy M31
                            id: 1
                            os: Android
                            osVersion: 12 (12)
                          - manufacturer: Apple
                            model: iPad
                            id: 2
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - manufacturer: Apple
                            model: iPhone SE (2020)
                            id: 3
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - id: 4
                            os: Windows
                            osVersion: Windows 11
                          - manufacturer: Google
                            model: Pixel 6
                            id: 5
                            os: Android
                            osVersion: 13(beta) (13(beta))
                        questions:
                          - id: 1
                            title: Cane
                            value: Sì
                          - id: 2
                            title: Pagamento
                            value: 'No'
                    start: 0
                    size: 1
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: ''
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - schema:
            type: string
            example: 'question_1,question_2'
          in: query
          name: fields
          description: The fields to add to the results
        - schema: {}
          in: query
[...]
