openapi: 3.0.0
info:
  title: AppQualityApi
  version: '1.0'
  description: An API to get all data for your bugfinding and ux research needs!
  contact:
    name: Developers
    email: it@app-quality.com
servers:
  - url: 'https://api.app-quality.com'
paths:
  /:
    get:
      summary: Get API description
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value: {}
      operationId: get-root
      description: Get all routes available for this apis
    parameters: []
  /authenticate:
    post:
      description: A request to login with your username and password
      summary: Authenticate to the API
      operationId: post-authenticate
      responses:
        '200':
          $ref: '#/components/responses/Authentication'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
              examples:
                example-1:
                  value: string
      tags:
        - Authentication
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
            examples:
              example:
                value:
                  username: Elon71
                  password: my-strong-password
        description: A JSON containing username and password
      parameters: []
  /campaigns:
    post:
      summary: Create a new Campaign
      operationId: post-campaigns
      responses:
        '201':
          $ref: '#/components/responses/SingleCampaign'
        '400':
          $ref: '#/components/responses/MissingParameters'
        '403':
          $ref: '#/components/responses/NotAuthorized'
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Campaign'
                - type: object
                  properties:
                    project_id:
                      type: integer
            examples:
              example:
                value:
                  name: Tesla-Model-3-selfdrive-UX
                  campaign_type: 1
                  customer_title: Tesla Inc.
                  internal_id: T4242
                  dates:
                    start: 17/02/2021
                    end: 17/08/2021
                    close: 17/09/2021
                  status: true
                  language: English (England)
                  public: true
                  hasBugParade: true
                  devices:
                    - id: '2'
                  minNumberOfMedia: 0
                  titleRule: true
                  allowed:
                    severities:
                      - id: 3
                    bug_types:
                      - id: 3
                    replicabilities:
                      - id: '1'
                  projectManager:
                    username: Elon Musk
                  customerCanViewReviewing: true
                  additionalFields:
                    - id: 2
                  project_id: 42
        description: 'The Campaign data to set on the newly created Campaign, including the id of the Project to link the Campaign to'
      description: Create a new Campaign if you have access to the creation
      tags:
        - Campaign
    get:
      summary: Get all available Campaigns
      operationId: get-campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      description: Get all the Campaigns you have access to
      tags:
        - Campaign
  '/campaigns/{campaign}':
    parameters:
      - $ref: '#/components/parameters/campaign'
    get:
      summary: Get a Campaign
      tags:
        - Campaign
      responses:
        '200':
          $ref: '#/components/responses/SingleCampaign'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          description: Not Found
      operationId: get-campaigns-campaign
      description: 'Get the data of a Campaign if you have access to it '
      security:
        - JWT: []
    put:
      summary: Edit a Campaign
      operationId: put-campaigns-campaign
      responses:
        '200':
          $ref: '#/components/responses/SingleCampaign'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: 'Edit the data of a Campaign if you have access to it '
      tags:
        - Campaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignOptional'
            examples:
              full-example:
                value:
                  name: Tesla-Model-3-selfdrive-UX
                  customer_title: Tesla Inc.
                  internal_id: T4242
                  dates:
                    start: 17/02/2021
                    end: 17/08/2021
                    close: 17/09/2021
                  status: true
                  language: English (England)
                  public: true
                  hasBugParade: true
                  devices:
                    - id: '2'
                  minNumberOfMedia: 0
                  titleRule: true
                  allowed:
                    severities:
                      - id: 3
                    bug_types:
                      - id: 3
                    replicabilities:
                      - id: '1'
                  projectManager:
                    username: Elon Musk
                  customerCanViewReviewing: true
                  additionalFields:
                    - id: 2
              change-name-example:
                value:
                  name: Tesla-Model-3-selfdrive-UX new name
              update-campaign-token-usage:
                value:
                  tokens: 12
        description: The Campaign data to edit
      security:
        - JWT: []
  '/campaigns/{campaign}/candidates':
    parameters:
      - name: campaign
        in: path
        required: true
        schema:
          type: string
        description: A campaign id
    post:
      summary: ''
      operationId: post-campaigns-campaign-candidates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tester_id:
                    type: number
                  accepted:
                    type: boolean
                  status:
                    type: string
                    enum:
                      - ready
                      - in-progress
                      - completed
                      - excluded
                      - removed
                  device:
                    oneOf:
                      - type: string
                        enum:
                          - any
                      - $ref: '#/components/schemas/UserDevice'
                required:
                  - tester_id
                  - accepted
                  - status
                  - device
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: The Tryber will be inserted as a candidate Tryber on a specific Campaign
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tester_id:
                  type: number
              required:
                - tester_id
      parameters:
        - schema:
            type: string
          in: query
          name: device
  '/campaigns/{campaign}/tasks':
    parameters:
      - $ref: '#/components/parameters/campaign'
    get:
      summary: Get all Tasks in a Campaign
      tags:
        - Campaign
        - Task
      responses:
        '200':
          description: A list of UseCase linked with the Campaign
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/Task'
                    - type: object
                      properties:
                        id:
                          type: integer
              examples:
                example:
                  value:
                    - name: Ask news to Model-3
                      content: <b>During</b> the trip ask the car for the weather
                      campaign_id: 42
                      group: 4
                      allow_media: true
                      id: 2
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-campaigns-campaign-tasks
      description: |
        Get all UseCases linked to a Campaign
      security:
        - JWT: []
    post:
      summary: Create a new Task in a Campaign
      operationId: post-campaigns-campaign-tasks
      responses:
        '201':
          description: Created
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: |
        Create a new UseCase and link it to a Campaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskOptional'
            examples:
              example:
                value:
                  name: Ask news to Model-3
                  content: <b>During</b> the trip ask the car for the weather
                  campaign_id: 42
                  group: 4
                  allow_media: true
                  id: 2
        description: The data of the new UseCase to link to the Campaign
      tags:
        - Campaign
        - Task
      security:
        - JWT: []
  '/campaigns/{campaign}/tasks/{task}':
    parameters:
      - $ref: '#/components/parameters/campaign'
      - $ref: '#/components/parameters/task'
    get:
      summary: Get a specific Task in a Campaign
      tags:
        - Campaign
        - Task
      responses:
        '200':
          description: A UseCase linked with the Campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
              examples:
                example:
                  value:
                    name: Ask news to Model-3
                    content: <b>During</b> the trip ask the car for the weather
                    campaign_id: 42
                    group: 4
                    allow_media: true
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-campaigns-campaign-tasks-task
      description: Get the data of a UseCase in a Campaign
      security:
        - JWT: []
    put:
      summary: Edit a Task
      operationId: put-campaigns-campaign-tasks-task
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
              examples:
                example:
                  value:
                    name: Ask news to Model-3
                    content: <b>During</b> the trip ask the car for the weather
                    campaign_id: 42
                    group: 4
                    allow_media: true
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: Edit a UseCase in a Campaign
      tags:
        - Campaign
        - Task
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskOptional'
            examples:
              example:
                value:
                  name: Ask news to Model-3
                  content: <b>During</b> the trip ask the car for the weather
                  campaign_id: 42
                  group: 4
                  allow_media: true
        description: The data to edit in the UseCase linked to the Campaign
      security:
        - JWT: []
  /campaigns/forms:
    post:
      summary: Create a new preselection form
      operationId: post-campaigns-forms
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  campaign:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                      - id
                      - name
                  fields:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            id:
                              type: integer
                          required:
                            - id
                        - $ref: '#/components/schemas/PreselectionFormQuestion'
                required:
                  - id
                  - name
              examples:
                Basic Example:
                  value:
                    id: 15
                    name: My form
                    fields:
                      - id: 3
                        question: 'What''s your [custom question]?'
                        type: text
                      - id: 12
                        question: 'What''s your [custom selectable question]?'
                        type: select
                        options:
                          - Option1
                          - Option2
                      - id: 9
                        question: 'What''s your [custom selectable question]?'
                        type: select
                        options:
                          - Option1
                          - Option2
                      - id: 24
                        question: 'What''s your [cuf text question]?'
                        type: cuf_1
                      - id: 29
                        question: 'What''s your [cuf text question]?'
                        type: cuf_12
                        options:
                          - 1
                          - 5
                          - 14
                      - id: 89
                        question: 'What''s your [profile question]?'
                        type: gender
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  name: My form
                  fields:
                    - question: 'What''s your [custom question]?'
                      type: text
                    - question: 'What''s your [custom selectable question]?'
                      type: select
                      options:
                        - Option1
                        - Option2
                    - question: 'What''s your [custom selectable question]?'
                      type: select
                      options:
                        - Option1
                        - Option2
                    - question: 'What''s your [cuf text question]?'
                      type: cuf_1
                    - question: 'What''s your [cuf text question]?'
                      type: cuf_12
                      options:
                        - 1
                        - 5
                        - 14
                    - question: 'What''s your [profile question]?'
                      type: gender
              properties:
                name:
                  type: string
                fields:
                  type: array
                  items:
                    $ref: '#/components/schemas/PreselectionFormQuestion'
                campaign:
                  type: integer
              required:
                - name
                - fields
      description: ''
    parameters: []
    get:
      summary: Get all forms
      operationId: get-campaigns-forms
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    results:
                      - id: 3
                        name: Form Name
                    total: 2
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        campaign:
                          type: integer
                      required:
                        - id
                        - name
                  limit:
                    type: integer
                  start:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
                required:
                  - results
                  - start
                  - size
              examples:
                example-1:
                  value:
                    results:
                      - id: 1
                        name: Form Name
                        campaign: 1
                      - id: 2
                        name: Form without Campaign
                    limit: 10
                    start: 0
                    size: 2
                    total: 2
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - $ref: '#/components/parameters/searchBy'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
      description: ''
      security:
        - JWT: []
  '/campaigns/forms/{formId}':
    parameters:
      - schema:
          type: string
        name: formId
        in: path
        required: true
    get:
      summary: Get a preselection form
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                    example: My form
                  campaign:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                      - id
                      - name
                  fields:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            id:
                              type: number
                          required:
                            - id
                        - $ref: '#/components/schemas/PreselectionFormQuestion'
                required:
                  - id
                  - name
                  - fields
              examples:
                Basic Example:
                  value:
                    id: 15
                    name: My form
                    fields:
                      - id: 3
                        question: 'What''s your [custom question]?'
                        type: text
                      - id: 12
                        question: 'What''s your [custom selectable question]?'
                        type: select
                        options:
                          - Option1
                          - Option2
                      - id: 9
                        question: 'What''s your [custom selectable question]?'
                        type: select
                        options:
                          - Option1
                          - Option2
                      - id: 24
                        question: 'What''s your [cuf text question]?'
                        type: cuf_1
                      - id: 29
                        question: 'What''s your [cuf text question]?'
                        type: cuf_12
                        options:
                          - 1
                          - 5
                          - 14
                      - id: 89
                        question: 'What''s your [profile question]?'
                        type: gender
                Basic Example with linked Campaign:
                  value:
                    id: 15
                    name: My form
                    campaign:
                      id: 1
                      name: My campaign
                    fields:
                      - id: 3
                        question: 'What''s your [custom question]?'
                        type: text
                      - id: 12
                        question: 'What''s your [custom selectable question]?'
                        type: select
                        options:
                          - Option1
                          - Option2
                      - id: 9
                        question: 'What''s your [custom selectable question]?'
                        type: select
                        options:
                          - Option1
                          - Option2
                      - id: 24
                        question: 'What''s your [cuf text question]?'
                        type: cuf_1
                      - id: 29
                        question: 'What''s your [cuf select question]?'
                        type: cuf_12
                        options:
                          - 1
                          - 5
                          - 14
                      - id: 89
                        question: 'What''s your [profile question]?'
                        type: gender
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-campaigns-forms-formId
      description: ''
      security:
        - JWT: []
    put:
      summary: Edit a preselection form
      operationId: put-campaigns-forms-formId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    id: 15
                    name: My form
                    fields:
                      - id: 3
                        question: 'What''s your [custom question]?'
                        type: text
                      - id: 12
                        question: 'What''s your [custom selectable question]?'
                        type: select
                        options:
                          - Option1
                          - Option2
                      - id: 9
                        question: 'What''s your [custom selectable question]?'
                        type: select
                        options:
                          - Option1
                          - Option2
                      - id: 24
                        question: 'What''s your [cuf text question]?'
                        type: cuf_1
                      - id: 29
                        question: 'What''s your [cuf text question]?'
                        type: cuf_12
                        options:
                          - 1
                          - 5
                          - 14
                      - id: 89
                        question: 'What''s your [profile question]?'
                        type: gender
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  fields:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            id:
                              type: number
                          required:
                            - id
                        - $ref: '#/components/schemas/PreselectionFormQuestion'
                  campaign:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                      - id
                      - name
                required:
                  - id
                  - name
                  - fields
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  name: My form
                  campaign: 1
                  fields:
                    - id: 3
                      question: 'What''s your [custom question]?'
                      type: text
                    - id: 12
                      question: 'What''s your [custom selectable question]?'
                      type: select
                      options:
                        - Option1
                        - Option2
                    - id: 9
                      question: 'What''s your [custom selectable question]?'
                      type: select
                      options:
                        - Option1
                        - Option2
                    - id: 24
                      question: 'What''s your [cuf text question]?'
                      type: cuf_1
                    - id: 29
                      question: 'What''s your [cuf select question]?'
                      type: cuf_12
                      options:
                        - 1
                        - 5
                        - 7
                        - 14
                    - question: 'What''s your [profile question]?'
                      type: gender
              properties:
                name:
                  type: string
                campaign:
                  type: integer
                fields:
                  type: array
                  items:
                    allOf:
                      - type: object
                        properties:
                          id:
                            type: number
                      - $ref: '#/components/schemas/PreselectionFormQuestion'
              required:
                - name
                - fields
            examples:
              Basic Example:
                value:
                  name: My form
                  campaign: 2
                  fields:
                    - id: 3
                      question: 'What''s your [custom question]?'
                      type: text
                    - id: 12
                      question: 'What''s your [custom selectable question]?'
                      type: select
                      options:
                        - Option1
                        - Option2
                    - id: 9
                      question: 'What''s your [custom selectable question]?'
                      type: select
                      options:
                        - Option1
                        - Option2
                    - id: 24
                      question: 'What''s your [cuf text question]?'
                      type: cuf_1
                    - id: 29
                      question: 'What''s your [cuf select question]?'
                      type: cuf_12
                      options:
                        - 1
                        - 5
                        - 9
                        - 14
                    - question: 'What''s your [profile question]?'
                      type: gender
      description: ''
  /certifications:
    get:
      summary: Retrive and filter all certifications
      tags:
        - Devices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    area:
                      type: string
                    institute:
                      type: string
                  required:
                    - id
                    - name
                    - area
                    - institute
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-certifications
      security:
        - JWT: []
      description: Get all certificatio
      parameters:
        - $ref: '#/components/parameters/filterBy'
    parameters: []
  '/countries/{code}/region':
    get:
      summary: Get regions
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                  required:
                    - name
                    - value
      operationId: get-regions
      security:
        - JWT: []
      parameters:
        - schema:
            type: string
            default: en
          in: query
          name: languageCode
    parameters:
      - schema:
          type: string
        name: code
        in: path
        required: true
  /customers:
    get:
      summary: Get Customers
      tags:
        - Customer
      responses:
        '200':
          description: An array of Customer objects
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/Customer'
                    - type: object
                      properties:
                        id:
                          type: integer
              examples:
                example-1:
                  value:
                    - username: Elon71
                      customer_name: Elon71
                      id: 0
        '403':
          $ref: '#/components/responses/NotAuthorized'
      operationId: get-customers
      description: Get all the customers you have access to
      security:
        - JWT: []
    post:
      summary: Create Customers
      operationId: post-customers
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/MissingParameters'
        '403':
          $ref: '#/components/responses/NotAuthorized'
      description: Add a new Customer to the platform
      tags:
        - Customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
            examples:
              example-1:
                value:
                  username: Elon71
                  customer_name: Elon71
        description: The customer you want to create
      security:
        - JWT: []
    parameters: []
  '/customers/{customer}':
    parameters:
      - $ref: '#/components/parameters/customer'
    get:
      summary: Get a specific Customer
      tags:
        - Customer
      responses:
        '200':
          description: The Customer data you requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              examples:
                example-1:
                  value:
                    username: Elon71
                    customer_name: Elon71
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-customers-customer_id
      description: Get the data for a Customer if you have access to it
      security:
        - JWT: []
    put:
      summary: Edit a Customer
      operationId: put-customers-customer
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/MissingParameters'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: Change the data of a Customer if you have access to it
      tags:
        - Customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
            examples:
              example-1:
                value:
                  username: Elon71
                  customer_name: Elon71
        description: The Customer data to edit
      security:
        - JWT: []
  /custom_user_fields:
    get:
      summary: Get all custom user fields
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    group:
                      type: object
                      required:
                        - id
                        - name
                      properties:
                        id:
                          type: number
                        name:
                          $ref: '#/components/schemas/TranslatablePage'
                        description:
                          $ref: '#/components/schemas/TranslatablePage'
                    fields:
                      type: array
                      items:
                        $ref: '#/components/schemas/CustomUserFieldsData'
                  required:
                    - group
              examples: {}
      operationId: get-customUserFields
      description: ''
      security:
        - JWT: []
    parameters: []
  '/devices/{device_type}/models':
    get:
      summary: Retrive manufacturers and models of devices
      tags:
        - Devices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    manufacturer:
                      type: string
                    models:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-devices-devices-type-model
      security:
        - JWT: []
      description: Get all model of devices with theirs manufacturers
      parameters:
        - $ref: '#/components/parameters/filterBy'
    parameters:
      - schema:
          type: string
        name: device_type
        in: path
        required: true
  '/devices/{device_type}/operating_systems':
    get:
      summary: Retrive operating systems list of a device type
      tags:
        - Devices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-devices-operating-systems
      security:
        - JWT: []
      description: Get all operating systems of a device type
      parameters:
        - $ref: '#/components/parameters/filterBy'
    parameters:
      - schema:
          type: string
        name: device_type
        in: path
        required: true
  '/devices/{device_type}/os_versions':
    get:
      summary: Retrive versions list of an operating systems
      tags:
        - Devices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-devices-os-versions
      security:
        - JWT: []
      description: Get all versions of an operating systems
      parameters:
        - $ref: '#/components/parameters/filterBy'
    parameters:
      - schema:
          type: string
        name: device_type
        in: path
        required: true
  /education:
    get:
      summary: Get all education levels
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - id
                    - name
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                      minLength: 1
                x-examples:
                  example-1:
                    - id: 0
                      name: string
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-education
      security:
        - JWT: []
      description: Get all education levels
  /employments:
    get:
      summary: Get All Employements
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - id
                    - name
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                      minLength: 1
                x-examples:
                  example-1:
                    - id: 0
                      name: string
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-employments
      security:
        - JWT: []
      description: Get all employments
  /languages:
    get:
      summary: Get All Languages
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                  required:
                    - id
                    - name
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-languages
      description: Get all languages
      parameters: []
      security:
        - JWT: []
  /levels:
    get:
      summary: Retrive levels definitions
      tags:
        - Devices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LevelDefinition'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-levels
      security:
        - JWT: []
      description: Get all levels
      parameters: []
    parameters: []
  /media:
    post:
      summary: ''
      operationId: post-media
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    files:
                      - name: string
                        path: string
                    failed:
                      - name: string
                properties:
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        path:
                          type: string
                      required:
                        - name
                        - path
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        errorCode:
                          type: string
                      required:
                        - name
                        - errorCode
                required:
                  - files
              examples: {}
      description: 'Send a media for my bug to AppQuality Bucket. '
      security:
        - JWT: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                media:
                  oneOf:
                    - type: string
                      properties: {}
                      format: binary
                    - type: array
                      items:
                        type: string
                        format: binary
    parameters: []
    delete:
      summary: ''
      operationId: delete-media
      responses:
        '200':
          description: OK
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
              required:
                - url
  /payments:
    get:
      summary: Get all payments
      tags: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  limit:
                    type: number
                  size:
                    type: number
                  start:
                    type: number
                  total:
                    type: number
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        created:
                          type: string
                          description: The timestamp (GMT) of the request creation
                        updated:
                          type: string
                          description: The timestamp (GMT) of the request last update
                        id:
                          type: number
                        amount:
                          type: object
                          required:
                            - value
                            - currency
                          properties:
                            value:
                              type: number
                            currency:
                              type: string
                        type:
                          type: string
                          enum:
                            - paypal
                            - transferwise
                        tryber:
                          type: object
                          required:
                            - id
                            - name
                            - surname
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            surname:
                              type: string
                        error:
                          type: string
                      required:
                        - created
                        - updated
                        - id
                        - amount
                        - type
                        - tryber
                required:
                  - size
                  - start
                  - items
              examples:
                example-1:
                  value:
                    limit: 3
                    size: 3
                    start: 2
                    total: 100
                    items:
                      - created: '1645096692'
                        updated: '1645096692'
                        id: 123
                        amount:
                          value: 100
                          currency: EUR
                        type: paypal
                        tryber:
                          id: 1
                          name: John
                          surname: Doe
                        error: INSUFFICIENT_FUNDS
                      - created: '1645096692'
                        updated: '1645096692'
                        id: 1
                        amount:
                          value: 100
                          currency: EUR
                        type: paypal
                        tryber:
                          id: 1
                          name: John
                          surname: Doe
                        error: GENERIC_ERROR
                      - created: '1645096692'
                        updated: '1645096692'
                        id: 12
                        amount:
                          value: 100
                          currency: EUR
                        type: transferwise
                        tryber:
                          id: 5
                          name: Pippo
                          surname: Franco
                        error: RECEIVER_UNREGISTERED
        '403':
          $ref: '#/components/responses/NotAuthorized'
      operationId: get-payments
      security:
        - JWT: []
      parameters:
        - schema:
            type: string
            enum:
              - pending
              - failed
          in: query
          name: status
          description: The status of the payment
        - $ref: '#/components/parameters/order'
        - schema:
            type: string
            enum:
              - created
              - updated
              - id
          in: query
          name: orderBy
          description: The value to order by
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/filterBy'
    parameters: []
  '/payments/{paymentId}':
    parameters:
      - schema:
          type: string
        name: paymentId
        in: path
        required: true
    post:
      summary: Pay a request
      operationId: post-payments-paymentId
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    element: payments
                    id: 0
                    message:
                      code: GENERIC_ERROR
                      data: string
                properties:
                  element:
                    type: string
                    enum:
                      - payments
                  id:
                    type: number
                  message:
                    type: object
                    required:
                      - code
                      - data
                    properties:
                      code:
                        type: string
                        enum:
                          - GENERIC_ERROR
                      data:
                        type: string
                required:
                  - element
                  - id
                  - message
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                type: object
                properties:
                  element:
                    type: string
                    enum:
                      - payments
                  id:
                    type: number
                  message:
                    type: object
                    required:
                      - code
                      - data
                    properties:
                      code:
                        type: string
                        enum:
                          - GENERIC_ERROR
                          - NO_FUNDS
                          - DUPLICATE_PAYMENT
                          - IBAN_NOT_VALID
                          - INSUFFICIENT_FUNDS
                          - RECEIVER_UNREGISTERED
                      data:
                        type: string
                required:
                  - element
                  - id
                  - message
              examples: {}
      description: ''
      security:
        - JWT: []
    delete:
      summary: Delete payment request from id
      operationId: delete-payments-paymentId
      responses:
        '200':
          description: OK
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: delete a specific payment request
      security:
        - JWT: []
  /popups:
    get:
      summary: Get all popups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                x-examples:
                  example-1:
                    - id: string
                      profiles:
                        - 0
                      once: true
                      content: string
                type: array
                items:
                  allOf:
                    - type: object
                      properties:
                        id:
                          type: integer
                    - $ref: '#/components/schemas/Popup'
              examples:
                example-1:
                  value:
                    - id: 0
                      profiles:
                        - 0
                      once: true
                      content: string
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-popups
      security:
        - JWT: []
      tags:
        - Admin
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
      description: Retrieve all available popups for admin operations
    post:
      summary: Create a new popup
      operationId: post-popups
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                  - $ref: '#/components/schemas/Popup'
        '403':
          $ref: '#/components/responses/NotAuthorized'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Popup'
      tags:
        - Admin
      description: The new popup will be inserted as an available popup on admin areas
      security:
        - JWT: []
    parameters: []
  '/popups/{popup}':
    parameters:
      - schema:
          type: number
        name: popup
        in: path
        required: true
    get:
      summary: Get a single popup
      tags:
        - Admin
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                  - $ref: '#/components/schemas/Popup'
        '403':
          $ref: '#/components/responses/NotAuthorized'
      operationId: get-popups-popup
      security:
        - JWT: []
      description: Retrieve a signle popup for admin operations
    patch:
      summary: Update popup
      operationId: patch-popups-popup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                  - $ref: '#/components/schemas/Popup'
        '403':
          $ref: '#/components/responses/NotAuthorized'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Popup'
      security:
        - JWT: []
      tags:
        - Admin
      description: Edit your popup with a new content or new rules
  /users:
    get:
      summary: Get all users
      tags:
        - User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
      operationId: get-users
      security:
        - JWT: []
      description: Get all users you have access to
    post:
      summary: Create a new user
      operationId: post-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      description: Create a new user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                surname:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                country:
                  type: string
                birthDate:
                  type: string
                  format: date
                referral:
                  type: string
                  example: 555-1234
                  description: A referral code (formatted as TESTER_ID-CAMPAIGN_ID)
              required:
                - name
                - surname
                - email
                - password
                - country
                - birthDate
            examples:
              example-1:
                value:
                  name: Elon
                  surname: Musk
                  email: elon.musk@tesla.com
                  password: Elon78
                  country: Italy
                  birthDate: '1971-06-28'
      tags:
        - User
  /users/me:
    get:
      summary: Get your user data
      tags:
        - User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    username: string
                    name: string
                    surname: string
                    email: user@example.com
                    image: 'http://example.com'
                    id: 0
                    wp_user_id: 0
                    role: string
                    is_verified: true
                properties:
                  username:
                    type: string
                    minLength: 1
                  name:
                    type: string
                    minLength: 1
                  surname:
                    type: string
                    minLength: 1
                  email:
                    type: string
                    minLength: 1
                    format: email
                  image:
                    type: string
                    minLength: 1
                  id:
                    type: number
                  wp_user_id:
                    type: number
                  role:
                    type: string
                    minLength: 1
                  is_verified:
                    type: boolean
                  rank:
                    type: string
                  total_exp_pts:
                    type: number
                  booty:
                    type: number
                  pending_booty:
                    type: number
                  languages:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                  onboarding_completed:
                    type: boolean
                  additional:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdditionalField'
                  gender:
                    $ref: '#/components/schemas/Gender'
                  birthDate:
                    type: string
                    format: date
                  phone:
                    type: string
                  education:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                      - id
                      - name
                  profession:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                      - id
                      - name
                  certifications:
                    oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Certification'
                      - type: boolean
                  completionPercent:
                    type: number
                  country:
                    type: string
                  city:
                    type: string
                  attended_cp:
                    type: number
                  approved_bugs:
                    type: number
                  booty_threshold:
                    type: object
                    properties:
                      value:
                        type: number
                      isOver:
                        type: boolean
                    required:
                      - value
                      - isOver
                required:
                  - id
      operationId: get-users-me
      description: Get your user data
      security:
        - JWT: []
      parameters:
        - schema:
            type: string
          in: query
          name: fields
          description: Comma separated string of specific fields requested
    put:
      summary: Edit your user data
      operationId: put-users-me
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      description: Edit your user data
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                surname:
                  type: string
                password:
                  type: string
                email:
                  type: string
      security:
        - JWT: []
      tags:
        - User
    patch:
      summary: Edit a field of your user
      operationId: patch-users-me
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    username: string
                    name: string
                    surname: string
                    email: string
                    image: string
                    id: 0
                    wp_user_id: 0
                    role: string
                    is_verified: true
                    rank: string
                    total_exp_pts: 0
                    booty: 0
                    pending_booty: 0
                    languages:
                      - id: 0
                        name: string
                    onboarding_completed: true
                    additional:
                      - field_id: 0
                        name: string
                        value: string
                        text: string
                        is_candidate: true
                    gender: male
                    birthDate: '2019-08-24'
                    phone: string
                    education:
                      id: 0
                      name: string
                    profession:
                      id: 0
                      name: string
                    certifications:
                      - id: 0
                        name: string
                        area: string
                        institute: string
                        achievement_date: '2019-08-24'
                    completionPercent: 0
                    country: string
                    city: string
                    attended_cp: 0
                    approved_bugs: 0
                properties:
                  username:
                    type: string
                  name:
                    type: string
                  surname:
                    type: string
                  email:
                    type: string
                  image:
                    type: string
                  id:
                    type: number
                  wp_user_id:
                    type: number
                  role:
                    type: string
                  is_verified:
                    type: boolean
                  rank:
                    type: string
                  total_exp_pts:
                    type: number
                  booty:
                    type: number
                  pending_booty:
                    type: number
                  languages:
                    type: array
                    uniqueItems: false
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                  onboarding_completed:
                    type: boolean
                  additional:
                    type: array
                    uniqueItems: false
                    items:
                      $ref: '#/components/schemas/AdditionalField'
                  gender:
                    type: string
                    enum:
                      - male
                      - female
                      - not-specified
                      - other
                  birthDate:
                    type: string
                    format: date
                  phone:
                    type: string
                  education:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                      - id
                      - name
                  profession:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                      - id
                      - name
                  certifications:
                    oneOf:
                      - type: array
                        items:
                          $ref: '#/components/schemas/Certification'
                      - type: boolean
                  completionPercent:
                    type: number
                  country:
                    type: string
                  city:
                    type: string
                  attended_cp:
                    type: number
                  approved_bugs:
                    type: number
                required:
                  - id
        '400':
          description: Bad Request
        '403':
          $ref: '#/components/responses/NotAuthorized'
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  username: string
                  name: string
                  surname: string
                  email: string
                  image: string
                  id: 0
                  wp_user_id: 0
                  role: string
                  onboarding_completed: true
                  is_verified: true
                  rank: string
                  total_exp_pts: 0
                  booty: 0
                  pending_booty: 0
                  languages:
                    - string
                  additional:
                    - {}
                  gender: string
                  birthDate: '2019-08-24'
                  phone: string
                  education: string
                  profession: string
                  certifications:
                    - name: string
                      area: string
                      institute: string
                      achievement_date: '2019-08-24'
                  completionPercent: 0
                  country: string
                  city: string
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                onboarding_completed:
                  type: boolean
                surname:
                  type: string
                gender:
                  type: string
                  enum:
                    - male
                    - female
                    - not-specified
                    - other
                birthDate:
                  type: string
                phone:
                  type: string
                education:
                  type: integer
                profession:
                  type: integer
                country:
                  type: string
                city:
                  type: string
                password:
                  type: string
                oldPassword:
                  type: string
            examples:
              example-1:
                value:
                  onboarding_completed: true
      tags:
        - User
      description: Edit basic user fields
    delete:
      summary: Delete your user
      operationId: delete-users-me
      responses:
        '200':
          description: OK
        '403':
          $ref: '#/components/responses/NotAuthorized'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
              required:
                - reason
      security:
        - JWT: []
      tags:
        - User
  '/users/me/additionals/{fieldId}':
    parameters:
      - schema:
          type: integer
        name: fieldId
        in: path
        required: true
        description: The id of the field to edit
    put:
      summary: Edit your custom user fields
      operationId: put-users-me-additionals-fieldId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                x-examples:
                  example-1:
                    - field_id: 23
                      name: Linkedin Profile
                      value: 'https://www.linkedin.com/in/gianpaolosinatra/'
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/AdditionalField'
                  - $ref: '#/components/schemas/AdditionalField'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: array
                  items:
                    type: object
                    properties:
                      value:
                        type: string
                      is_candidate:
                        type: boolean
                    required:
                      - value
                - type: object
                  properties:
                    value:
                      type: string
                    is_candidate:
                      type: boolean
                  required:
                    - value
      security:
        - JWT: []
      tags:
        - User
      description: The field data will be replaced with your new data
  /users/me/bugs:
    get:
      summary: Get your uploaded bugs
      tags:
        - User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            id:
                              type: integer
                          required:
                            - id
                        - $ref: '#/components/schemas/Bug'
                  limit:
                    type: integer
                  size:
                    type: integer
                  start:
                    type: integer
                  total:
                    type: integer
                required:
                  - results
              examples:
                minimal-example:
                  value:
                    results:
                      - id: 1
                        severity:
                          id: 1
                          name: LOW
                        status:
                          id: 1
                          name: Refused
                        campaign:
                          name: UX test for a selfdrive service
                          id: 1
                        title: Self drive system crashing
                    limit: 5
                    size: 1
                    start: 10
                    total: 100
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-users-me-bugs
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/filterBy'
        - schema:
            type: string
            enum:
              - title
              - campaign
              - status
              - id
              - severity
          in: query
          name: orderBy
          description: The field for item order
        - $ref: '#/components/parameters/order'
      description: 'Get all the bugs that you uploaded to AppQuality. '
    parameters: []
  /users/me/campaigns:
    get:
      summary: GET user campaign
      tags:
        - User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            id:
                              type: integer
                          required:
                            - id
                        - $ref: '#/components/schemas/Campaign'
                  limit:
                    type: integer
                  size:
                    type: integer
                  start:
                    type: integer
                  total:
                    type: integer
              examples: {}
        '403':
          description: Forbidden
        '404':
          description: Not Found
      operationId: get-users-me-campaigns
      description: |-
        get available, and selected campaigns for a single user.
        filterBy[accepted] = 1 retrieve accepted campaign only, otherwise retrieve available campaign.
        filterBy[completed] = 1 get completed campaigns only (end date in the past)
        filterBy[completed] = 0 get not completed campaigns only (end date today or in the future)
        filterBy[statusID] = 1 get open campaigns
        filterBy[statusID] = 2 get closed campaigns
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/filterBy'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/order'
        - schema:
            type: string
            enum:
              - name
              - start_date
              - end_date
              - close_date
          in: query
          name: orderBy
          description: The field for item order
  '/users/me/campaigns/{campaignId}':
    parameters:
      - schema:
          type: string
        name: campaignId
        in: path
        required: true
    get:
      summary: Get the data for a campaign you are selected in
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                  language:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                  titleRule:
                    type: boolean
                  minimumMedia:
                    type: integer
                  useCases:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                        - id
                        - name
                  additionalFields:
                    type: array
                    items:
                      $ref: '#/components/schemas/CampaignAdditionalField'
                  bugTypes:
                    type: object
                    required:
                      - valid
                      - invalid
                    properties:
                      valid:
                        type: array
                        items:
                          type: string
                      invalid:
                        type: array
                        items:
                          type: string
                  bugSeverity:
                    type: object
                    required:
                      - valid
                      - invalid
                    properties:
                      valid:
                        type: array
                        items:
                          type: string
                      invalid:
                        type: array
                        items:
                          type: string
                  bugReplicability:
                    type: object
                    required:
                      - valid
                      - invalid
                    properties:
                      valid:
                        type: array
                        items:
                          type: string
                      invalid:
                        type: array
                        items:
                          type: string
                  hasBugForm:
                    type: boolean
                  devices:
                    type: array
                    items:
                      allOf:
                        - type: object
                          properties:
                            id:
                              type: integer
                          required:
                            - id
                        - $ref: '#/components/schemas/UserDevice'
                  validFileExtensions:
                    type: array
                    items:
                      type: string
                required:
                  - id
                  - title
                  - minimumMedia
                  - useCases
                  - bugTypes
                  - bugSeverity
                  - bugReplicability
                  - hasBugForm
                  - validFileExtensions
              examples:
                full:
                  value:
                    id: 123
                    title: My campaign
                    language:
                      code: IT
                      message: In questa campagna vanno caricati i bug in italiano
                    titleRule: true
                    minimumMedia: 3
                    useCases:
                      - id: 0
                        name: Not a specific Use Case
                      - id: 4123
                        name: Use case 1 - Signup
                    additionalFields:
                      - name: Browser Used
                        slug: browser-used
                        type: select
                        options:
                          - Chrome
                          - Safari
                        error: You have to select a browser
                      - name: Codice Cliente
                        slug: codice-cliente
                        type: text
                        regex: '[A-Z]{3}[0-9]{4}'
                        error: Il codice cliente è obbligatorio nel formato AAA1234
                    bugTypes:
                      valid:
                        - CRASH
                        - TYPO
                      invalid:
                        - PERFORMANCE
                    bugSeverity:
                      valid:
                        - LOW
                        - MEDIUM
                      invalid:
                        - HIGH
                        - CRITICAL
                    bugReplicability:
                      valid:
                        - ALWAYS
                        - SOMETIMES
                      invalid:
                        - ONCE
                    hasBugForm: true
                    devices:
                      - id: 1
                        type: Smartphone
                        device:
                          manufacturer: Apple
                          model: iPhone X
                          id: 123
                        operating_system:
                          id: 234
                          platform: Apple
                          version: iOs 12
                      - id: 2
                        type: Smartphone
                        device:
                          manufacturer: Apple
                          model: iPhone 6
                          id: 123
                        operating_system:
                          id: 234
                          platform: Apple
                          version: iOs 10
                    validFileExtensions:
                      - jpg
                      - png
                      - mov
                      - mp4
                with-bugform-disabled:
                  value:
                    id: 123
                    title: My campaign
                    titleRule: true
                    minimumMedia: 3
                    useCases: []
                    bugTypes:
                      valid:
                        - CRASH
                        - TYPO
                        - PERFORMANCE
                      invalid: []
                    bugSeverity:
                      valid:
                        - LOW
                        - MEDIUM
                        - HIGH
                        - CRITICAL
                      invalid: []
                    bugReplicability:
                      valid:
                        - ALWAYS
                        - SOMETIMES
                        - ONCE
                      invalid: []
                    hasBugForm: false
                    devices: []
                    validFileExtensions:
                      - jpg
                      - png
                      - mov
                      - mp4
                with-only-one-device:
                  value:
                    id: 123
                    title: My campaign
                    titleRule: true
                    minimumMedia: 3
                    useCases:
                      - id: 0
                        name: Not a specific Use Case
                      - id: 4123
                        name: Use case 1 - Signup
                    bugTypes:
                      valid:
                        - CRASH
                        - TYPO
                        - PERFORMANCE
                      invalid: []
                    bugSeverity:
                      valid:
                        - LOW
                        - MEDIUM
                        - HIGH
                        - CRITICAL
                      invalid: []
                    bugReplicability:
                      valid:
                        - ALWAYS
                        - SOMETIMES
                        - ONCE
                      invalid: []
                    hasBugForm: true
                    devices:
                      - id: 1
                        type: Smartphone
                        device:
                          manufacturer: Apple
                          model: iPhone X
                          id: 123
                        operating_system:
                          id: 234
                          platform: Apple
                          version: iOs 12
                    validFileExtensions:
                      - jpg
                      - png
                      - mov
                      - mp4
                without-device:
                  value:
                    id: 123
                    title: My campaign
                    titleRule: true
                    minimumMedia: 3
                    useCases:
                      - id: 0
                        name: Not a specific Use Case
                      - id: 4123
                        name: Use case 1 - Signup
                    bugTypes:
                      valid:
                        - CRASH
                        - TYPO
                        - PERFORMANCE
                      invalid: []
                    bugSeverity:
                      valid:
                        - LOW
                        - MEDIUM
                        - HIGH
                        - CRITICAL
                      invalid: []
                    bugReplicability:
                      valid:
                        - ALWAYS
                        - SOMETIMES
                        - ONCE
                      invalid: []
                    hasBugForm: true
                    validFileExtensions:
                      - jpg
                      - png
                      - mov
                      - mp4
      operationId: get-users-me-campaigns-campaignId
      description: ''
      security:
        - JWT: []
  '/users/me/campaigns/{campaign}/available_devices':
    parameters:
      - name: campaign
        in: path
        required: true
        schema:
          type: string
        description: A campaign id
    get:
      summary: Get the user devices for a campaign you are selected in
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserDevice'
              examples:
                example-1:
                  value: []
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-users-me-campaigns-campaignId-available-devices
      description: ''
      security:
        - JWT: []
  '/users/me/campaigns/{campaignId}/bugs':
    post:
      summary: POST a user bug on a specific campaign
      operationId: post-users-me-campaigns-campaign-bugs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    id: ''
                    testerId: 1
                    title: ''
                    status: ''
                    description: ''
                    expected: ''
                    current: ''
                    severity: ''
                    replicability: ''
                    type: ''
                    notes: ''
                    usecase: ''
                    device: {}
                    media:
                      - ''
                      - ''
                    additional:
                      - name: ''
                        value: ''
                properties:
                  id:
                    type: number
                  internalId:
                    type: string
                  testerId:
                    type: integer
                  title:
                    type: string
                  description:
                    type: string
                  status:
                    type: string
                    enum:
                      - PENDING
                      - APPROVED
                      - REFUSED
                      - NEED-REVIEW
                  expected:
                    type: string
                  current:
                    type: string
                  severity:
                    type: string
                    enum:
                      - LOW
                      - MEDIUM
                      - HIGH
                      - CRITICAL
                  replicability:
                    type: string
                    enum:
                      - ONCE
                      - SOMETIMES
                      - ALWAYS
                  type:
                    type: string
                    enum:
                      - CRASH
                      - GRAPHIC
                      - MALFUNCTION
                      - OTHER
                      - PERFORMANCE
                      - SECURITY
                      - TYPO
                      - USABILITY
                  notes:
                    type: string
                  usecase:
                    type: string
                  device:
                    $ref: '#/components/schemas/UserDevice'
                  media:
                    type: array
                    items:
                      type: string
                  additional:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        value:
                          type: string
                      required:
                        - slug
                        - value
                required:
                  - id
                  - testerId
                  - title
                  - description
                  - status
                  - expected
                  - current
                  - severity
                  - replicability
                  - type
                  - notes
                  - usecase
                  - device
                  - media
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      description: Send a user bug on a specific campaign
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  title: ''
                  description: ''
                  expected: ''
                  current: ''
                  severity: LOW
                  replicability: ONCE
                  type: TYPO
                  notes: ''
                  usecase: 1
                  device: 1
                  media:
                    - ''
                    - ''
                  additional:
                    - name: ''
                      value: ''
              properties:
                title:
                  type: string
                description:
                  type: string
                expected:
                  type: string
                current:
                  type: string
                severity:
                  type: string
                  enum:
                    - LOW
                    - MEDIUM
                    - HIGH
                    - CRITICAL
                replicability:
                  type: string
                  enum:
                    - ONCE
                    - SOMETIMES
                    - ALWAYS
                type:
                  type: string
                  enum:
                    - CRASH
                    - GRAPHIC
                    - MALFUNCTION
                    - OTHER
                    - PERFORMANCE
                    - SECURITY
                    - TYPO
                    - USABILITY
                notes:
                  type: string
                lastSeen:
                  type: string
                usecase:
                  type: integer
                device:
                  type: integer
                media:
                  type: array
                  items:
                    type: string
                additional:
                  type: array
                  items:
                    type: object
                    properties:
                      slug:
                        type: string
                      value:
                        type: string
                    required:
                      - slug
                      - value
              required:
                - title
                - description
                - expected
                - current
                - severity
                - replicability
                - type
                - notes
                - lastSeen
                - usecase
                - device
                - media
      security:
        - JWT: []
    parameters:
      - schema:
          type: string
        name: campaignId
        in: path
        required: true
        description: the campaign id
  '/users/me/campaigns/{campaignId}/devices':
    parameters:
      - schema:
          type: string
        name: campaignId
        in: path
        required: true
    get:
      summary: Get the device available for this campaign
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserDevice'
              examples:
                single-device:
                  value:
                    - type: PC
                      id: 1
                      device:
                        pc_type: Desktop
                      operating_system:
                        id: 781
                        platform: MacOS
                        version: Mac OS X 10.15 (Catalina) (10.15.5)
                multiple-devices:
                  value:
                    - type: Smartphone
                      id: 28440
                      device:
                        manufacturer: Airo Wireless
                        model: A25is
                        id: 5333
                      operating_system:
                        id: 729
                        platform: Windows Mobile Professional
                        version: Windows Mobile 6.5 (6.5)
                    - type: PC
                      id: 27723
                      device:
                        pc_type: Desktop
                      operating_system:
                        id: 781
                        platform: MacOS
                        version: Mac OS X 10.15 (Catalina) (10.15.5)
                    - type: PC
                      id: 28438
                      device:
                        pc_type: Desktop
                      operating_system:
                        id: 792
                        platform: MacOS
                        version: Mac OS X 10.15 (Catalina) (10.15.6)
                    - type: PC
                      id: 27721
                      device:
                        pc_type: Notebook
                      operating_system:
                        id: 772
                        platform: Windows
                        version: Windows 10 November 2019 Update (18363.778)
                    - type: PC
                      id: 27722
                      device:
                        pc_type: Ultrabook
                      operating_system:
                        id: 771
                        platform: Windows
                        version: Windows 10 May 2019 Update (18362)
                    - type: Smart-tv
                      id: 28439
                      device:
                        manufacturer: Bang & Olufsen
                        model: BeoVision 11 40"
                        id: 47400
                      operating_system:
                        id: 822
                        platform: Fire TV
                        version: Fire OS 7 (7)
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-users-me-campaigns-campaignId-devices
      security:
        - JWT: []
  '/users/me/campaigns/{campaignId}/media':
    parameters:
      - schema:
          type: string
        name: campaignId
        in: path
        required: true
    post:
      summary: Upload media for a bug
      operationId: post-users-me-campaigns-campaignId-media
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        path:
                          type: string
[...]
