openapi: 3.0.0
info:
  contact:
    email: it@app-quality.com
    name: Developers
  description: vsAn API to get all data for your bugfinding and ux research needs!
  title: AppQualityApi
  version: '1.0'
servers:
  - url: 'https://api.app-quality.com'
paths:
  /:
    get:
      operationId: get-root
      summary: Get API description
      description: Get all routes available for this apis
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                example-1:
                  value: {}
              schema:
                type: object
                properties: {}
      tags: []
    parameters: []
  /agreements:
    get:
      operationId: get-agreements
      summary: GET Agreements
      description: Retrive all agreements
      parameters:
        - $ref: '#/components/parameters/filterBy'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    items:
                      - customer:
                          company: Customer Company
                          id: 1
                        expirationDate: '2023-06-06'
                        id: 1
                        isTokenBased: true
                        note: Agreement Notes
                        startDate: '2023-06-06'
                        title: Agreement Title
                        tokens: 10.5
                        unitPrice: 165
                    limit: 0
                    size: 0
                    start: 0
                    total: 0
                agreement-empty:
                  value:
                    items: []
                    size: 0
                    start: 0
                agreement-filterBy-customer1:
                  value:
                    items:
                      - customer:
                          company: Rocco & Friends
                          id: 1
                        expirationDate: '2023-03-01'
                        id: 70
                        isTokenBased: false
                        note: Test con dati veri
                        startDate: '2023-11-20'
                        title: Rocco Iteration 2
                        tokens: 39
                        unitPrice: 6.9
                      - customer:
                          company: Rocco & Friends
                          id: 1
                        expirationDate: '2023-01-01'
                        id: 69
                        isTokenBased: false
                        note: Test con dati veri
                        startDate: '2023-10-20'
                        title: Rocco Token
                        tokens: 169
                        unitPrice: 6.9
                    size: 2
                    start: 0
                'agreement-filterBy[customer]=1,3&start=1':
                  value:
                    items:
                      - customer:
                          company: Rocco & Friends
                          id: 1
                        expirationDate: '2023-01-01'
                        id: 69
                        isTokenBased: false
                        note: Test con dati veri
                        startDate: '2023-10-20'
                        title: Rocco Token
                        tokens: 169
                        unitPrice: 6.9
                      - customer:
                          company: Epical s.p.a.
                          id: 3
                        expirationDate: '2020-01-01'
                        id: 42
                        isTokenBased: true
                        note: Test con dati veri
                        startDate: '2020-10-20'
                        title: Epic Token
                        tokens: 103
                        unitPrice: 166.6
                    limit: 10
                    size: 2
                    start: 1
                    total: 3
                'filterBy[customer]=1,3&limit=1':
                  value:
                    items:
                      - customer:
                          company: Rocco & Friends
                          id: 1
                        expirationDate: '2023-03-01'
                        id: 70
                        isTokenBased: false
                        note: Test con dati veri
                        startDate: '2023-11-20'
                        title: Rocco Iteration 2
                        tokens: 39
                        unitPrice: 6.9
                    limit: 1
                    size: 1
                    start: 0
                    total: 3
                items-no-filtered:
                  value:
                    items:
                      - customer:
                          company: AffidabilData s.p.a.
                          id: 2
                        expirationDate: '2023-01-01'
                        id: 241
                        isTokenBased: true
                        note: Test con dati veri
                        startDate: '2023-10-20'
                        title: AffidabilData Token
                        tokens: 100
                        unitPrice: 165.6
                      - customer:
                          company: Rocco & Friends
                          id: 1
                        expirationDate: '2023-03-01'
                        id: 70
                        isTokenBased: false
                        note: Test con dati veri
                        startDate: '2023-11-20'
                        title: Rocco Iteration 2
                        tokens: 39
                        unitPrice: 6.9
                      - customer:
                          company: Rocco & Friends
                          id: 1
                        expirationDate: '2023-01-01'
                        id: 69
                        isTokenBased: false
                        note: Test con dati veri
                        startDate: '2023-10-20'
                        title: Rocco Token
                        tokens: 169
                        unitPrice: 6.9
                      - customer:
                          company: Epical s.p.a.
                          id: 3
                        expirationDate: '2020-01-01'
                        id: 42
                        isTokenBased: true
                        note: Test con dati veri
                        startDate: '2020-10-20'
                        title: Epic Token
                        tokens: 103
                        unitPrice: 166.6
                    size: 4
                    start: 0
                items-no-filtered-limit=1:
                  value:
                    items:
                      - customer:
                          company: AffidabilData s.p.a.
                          id: 2
                        expirationDate: '2023-01-01'
                        id: 241
                        isTokenBased: true
                        note: Test con dati veri
                        startDate: '2023-10-20'
                        title: AffidabilData Token
                        tokens: 100
                        unitPrice: 165.6
                    limit: 1
                    size: 1
                    start: 0
                    total: 4
                items-no-filtered-limite=1&start=1:
                  value:
                    items:
                      - customer:
                          company: Rocco & Friends
                          id: 1
                        expirationDate: '2023-03-01'
                        id: 70
                        isTokenBased: false
                        note: Test con dati veri
                        startDate: '2023-11-20'
                        title: Rocco Iteration 2
                        tokens: 39
                        unitPrice: 6.9
                    limit: 1
                    size: 1
                    start: 1
                    total: 4
                'response-items-filterBy[customer]=1,3&start=1&limit=1':
                  value:
                    items:
                      - customer:
                          company: Rocco & Friends
                          id: 1
                        expirationDate: '2023-01-01'
                        id: 69
                        isTokenBased: false
                        note: Test con dati veri
                        startDate: '2023-10-20'
                        title: Rocco Token
                        tokens: 169
                        unitPrice: 6.9
                    limit: 3
                    size: 1
                    start: 0
                    total: 3
              schema:
                allOf:
                  - properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - properties:
                                id:
                                  type: integer
                              required:
                                - id
                              type: object
                            - $ref: '#/components/schemas/Agreement'
                            - properties:
                                customer:
                                  type: object
                                  properties:
                                    company:
                                      type: string
                                    id:
                                      type: integer
                                  required:
                                    - id
                                    - company
                              required:
                                - customer
                              type: object
                    required:
                      - items
                    type: object
                  - $ref: '#/components/schemas/PaginationData'
        '403':
          $ref: '#/components/responses/NotAuthorized'
      security:
        - JWT: []
    parameters: []
    post:
      operationId: post-agreements
      summary: POST Agreement
      description: Create a new Agreement
      requestBody:
        content:
          application/json:
            examples:
              Example 1:
                value:
                  customerId: 1
                  expirationDate: '2023-07-03'
                  id: 1
                  isTokenBased: true
                  note: string
                  startDate: '2023-07-03'
                  title: string
                  tokens: 0
                  unitPrice: 0
            schema:
              allOf:
                - properties:
                    customerId:
                      type: integer
                  required:
                    - customerId
                  type: object
                - $ref: '#/components/schemas/Agreement'
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                success-creation:
                  value:
                    agreementId: 11111
              schema:
                type: object
                properties:
                  agreementId:
                    type: integer
                required:
                  - agreementId
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '500':
          description: Internal Server Error
      security:
        - JWT: []
  '/agreements/{agreementId}':
    delete:
      operationId: delete-agreements-agreement-id
      summary: ''
      description: Delete a specific Agreement
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                deletion-success:
                  value: {}
              schema:
                type: object
                properties: {}
        '403':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - JWT: []
    get:
      operationId: get-agreements-agreement-id
      summary: ''
      description: Get a specific Agreement
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    customer:
                      company: string
                      id: 1
                    expirationDate: '2023-07-03'
                    id: 1
                    isTokenBased: false
                    note: string
                    startDate: '2023-07-03'
                    title: string
                    tokens: 1
                    unitPrice: 165
                success-found:
                  value:
                    customer:
                      company: string
                      id: 1
                    expirationDate: '2023-10-31'
                    id: 69
                    isTokenBased: false
                    note: Agreement improved by Sunset
                    startDate: '2022-02-03'
                    title: Sunset Crowdtesting (Bug Hunting) 2022-2023
                    tokens: 666
                    unitPrice: 100
              schema:
                allOf:
                  - properties:
                      id:
                        type: integer
                    required:
                      - id
                    type: object
                  - $ref: '#/components/schemas/Agreement'
                  - properties:
                      customer:
                        type: object
                        properties:
                          company:
                            type: string
                          id:
                            type: integer
                        required:
                          - id
                          - company
                    required:
                      - customer
                    type: object
        '403':
          $ref: '#/components/responses/Authentication'
        '500':
          description: Internal Server Error
      security:
        - JWT: []
    parameters:
      - name: agreementId
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: put-agreements-agreement-id
      summary: ''
      description: Put a specific Agreement
      requestBody:
        description: ''
        content:
          application/json:
            examples:
              Example 1:
                value:
                  customerId: 0
                  expirationDate: '2023-07-03'
                  id: 1
                  isTokenBased: true
                  note: string
                  startDate: '2023-07-03'
                  title: string
                  tokens: 165
                  unitPrice: 165
            schema:
              allOf:
                - $ref: '#/components/schemas/Agreement'
                - properties:
                    customerId:
                      type: integer
                  required:
                    - customerId
                  type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    customer:
                      company: string
                      id: 0
                    expirationDate: '2023-07-03'
                    id: 0
                    isTokenBased: false
                    note: string
                    startDate: '2023-07-03'
                    title: string
                    tokens: 0
                    unitPrice: 0
                request-correct:
                  value:
                    customer:
                      company: string
                      id: 0
                    customerId: 1
                    expirationDate: '2020-01-01'
                    id: 1
                    isTokenBased: true
                    note: Agreement notes
                    startDate: '2020-01-01'
                    title: Agreement Title
                    tokens: 10
                    unitPrice: 1
                success:
                  value:
                    customer:
                      company: string
                      id: 0
                    customerId: 1
                    expirationDate: '2020-01-01'
                    id: 11111
                    isTokenBased: true
                    note: Agreement notes
                    startDate: '2020-01-01'
                    title: Agreement Title
                    tokens: 10
                    unitPrice: 1
              schema:
                allOf:
                  - properties:
                      id:
                        type: integer
                    required:
                      - id
                    type: object
                  - $ref: '#/components/schemas/Agreement'
                  - properties:
                      customer:
                        type: object
                        properties:
                          company:
                            type: string
                          id:
                            type: integer
                        required:
                          - id
                          - company
                    required:
                      - customer
                    type: object
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '500':
          description: Internal Server Error
      security:
        - JWT: []
  /authenticate:
    post:
      operationId: post-authenticate
      summary: ''
      description: A request to login with your username and password
      parameters: []
      requestBody:
        description: A JSON containing username and password
        content:
          application/json:
            examples:
              example:
                value:
                  password: my-strong-password
                  username: Elon71
            schema:
              type: object
              properties:
                password:
                  type: string
                username:
                  type: string
              required:
                - username
                - password
      responses:
        '200':
          $ref: '#/components/responses/Authentication'
        '401':
          description: Unauthorized
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    message: Error 401
              schema:
                type: object
                properties:
                  message:
                    type: string
      tags:
        - Authentication
  /browsers:
    get:
      operationId: get-browsers
      summary: Your GET endpoint
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    results:
                      - id: 1
                        name: Chrome
                      - id: 2
                        name: Firefox
                      - id: 3
                        name: Safari
                      - id: 4
                        name: Edge
                      - id: 100
                        name: Other
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                        - id
                        - name
                      type: object
                required:
                  - results
      tags: []
  '/bugs/{bugId}/status':
    parameters:
      - name: bugId
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patch-bugs-bugId-status
      summary: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status_id:
                  type: integer
              required:
                - status_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties: {}
      security:
        - JWT: []
  /campaignTypes:
    get:
      operationId: get-campaign-types
      summary: Get Campaign Types
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    - customRoles:
                        - roleId: 0
                          userIds:
                            - 0
                      id: 0
                      name: string
              schema:
                type: array
                items:
                  properties:
                    customRoles:
                      type: array
                      items:
                        properties:
                          roleId:
                            type: integer
                          userIds:
                            type: array
                            items:
                              type: integer
                        required:
                          - roleId
                          - userIds
                        type: object
                    id:
                      type: integer
                    name:
                      type: string
                  required:
                    - id
                    - name
                    - customRoles
                  type: object
      security:
        - JWT: []
      tags: []
    parameters: []
  /campaigns:
    get:
      operationId: get-campaigns
      summary: Get all available Campaigns
      description: Get all the Campaigns you have access to
      parameters:
        - name: fields
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
        - name: mine
          in: query
          description: Return only your campaign?
          schema:
            type: string
            enum:
              - 'true'
          allowEmptyValue: true
        - name: search
          in: query
          description: A value to search in id or title
          schema:
            type: string
        - $ref: '#/components/parameters/order'
        - name: orderBy
          in: query
          description: The parameter to order by
          schema:
            type: string
            enum:
              - id
              - startDate
              - endDate
        - name: filterBy
          in: query
          schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    items:
                      - csm:
                          id: 0
                          name: string
                          surname: string
                        customer:
                          id: 0
                          name: string
                        customerTitle: string
                        endDate: string
                        id: 0
                        name: string
                        phase:
                          id: 0
                          name: string
                        project:
                          id: 0
                          name: string
                        quote:
                          id: 0
                          price: string
                          status: string
                        resultType: bug
                        roles:
                          - role:
                              id: 0
                              name: string
                            user:
                              id: 0
                              name: string
                              surname: string
                        startDate: string
                        status: running
                        type:
                          area: quality
                          name: string
                        visibility: admin
                    limit: 0
                    size: 0
                    start: 0
                    total: 0
              schema:
                allOf:
                  - properties:
                      items:
                        type: array
                        items:
                          properties:
                            csm:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                                surname:
                                  type: string
                              required:
                                - id
                                - name
                                - surname
                            customer:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                                - name
                            customerTitle:
                              type: string
                            endDate:
                              type: string
                            id:
                              type: integer
                            name:
                              type: string
                            phase:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                                - id
                                - name
                            project:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                                - name
                            quote:
                              type: object
                              properties:
                                id:
                                  type: integer
                                price:
                                  type: string
                                status:
                                  type: string
                              required:
                                - id
                                - price
                                - status
                            resultType:
                              type: string
                              enum:
                                - bug
                                - bugparade
                                - 'no'
                            roles:
                              type: array
                              items:
                                properties:
                                  role:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      name:
                                        type: string
                                    required:
                                      - id
                                      - name
                                  user:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      name:
                                        type: string
                                      surname:
                                        type: string
                                    required:
                                      - id
                                      - name
                                      - surname
                                required:
                                  - role
                                  - user
                                type: object
                            startDate:
                              type: string
                            status:
                              type: string
                              enum:
                                - running
                                - closed
                                - incoming
                            type:
                              type: object
                              properties:
                                area:
                                  type: string
                                  enum:
                                    - quality
                                    - experience
                                name:
                                  type: string
                              required:
                                - name
                                - area
                            visibility:
                              type: string
                              enum:
                                - admin
                                - smallgroup
                                - logged
                                - public
                                - target
                          type: object
                    type: object
                  - $ref: '#/components/schemas/PaginationData'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      tags:
        - Campaign
    post:
      operationId: post-campaigns
      summary: Create a new Campaign
      description: Create a new Campaign if you have access to the creation
      requestBody:
        description: 'The Campaign data to set on the newly created Campaign, including the id of the Project to link the Campaign to'
        content:
          application/json:
            examples:
              example:
                value:
                  additionalFields:
                    - id: 2
                  allowed:
                    bug_types:
                      - id: 3
                    replicabilities:
                      - id: '1'
                    severities:
                      - id: 3
                  campaign_type: 1
                  customerCanViewReviewing: true
                  customer_title: Tesla Inc.
                  dates:
                    close: 17/09/2021
                    end: 17/08/2021
                    start: 17/02/2021
                  devices:
                    - id: '2'
                  hasBugParade: true
                  internal_id: T4242
                  language: English (England)
                  minNumberOfMedia: 0
                  name: Tesla-Model-3-selfdrive-UX
                  projectManager:
                    username: Elon Musk
                  project_id: 42
                  public: true
                  status: true
                  titleRule: true
            schema:
              allOf:
                - $ref: '#/components/schemas/Campaign'
                - properties:
                    project_id:
                      type: integer
                  type: object
      responses:
        '201':
          $ref: '#/components/responses/SingleCampaign'
        '400':
          $ref: '#/components/responses/MissingParameters'
        '403':
          $ref: '#/components/responses/NotAuthorized'
      security:
        - JWT: []
      tags:
        - Campaign
  /campaigns/forms:
    get:
      operationId: get-campaigns-forms
      summary: Get all forms
      description: ''
      parameters:
        - $ref: '#/components/parameters/searchBy'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    limit: 0
                    results:
                      - campaign: 0
                        id: 0
                        name: string
                    size: 0
                    start: 0
                    total: 0
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                  results:
                    type: array
                    items:
                      properties:
                        campaign:
                          type: integer
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                        - id
                        - name
                      type: object
                  size:
                    type: integer
                  start:
                    type: integer
                  total:
                    type: integer
                required:
                  - results
                  - start
                  - size
                x-examples:
                  example-1:
                    results:
                      - id: 3
                        name: Form Name
                    total: 2
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
    parameters: []
    post:
      operationId: post-campaigns-forms
      summary: Create a new preselection form
      description: ''
      requestBody:
        content:
          application/json:
            examples:
              Example 1:
                value:
                  campaign: 0
                  creationDate: string
                  fields:
                    - question: string
                      short_name: string
                      type: gender
                  name: string
            schema:
              type: object
              properties:
                campaign:
                  type: integer
                creationDate:
                  type: string
                fields:
                  type: array
                  items:
                    $ref: '#/components/schemas/PreselectionFormQuestion'
                name:
                  type: string
              required:
                - name
                - fields
              x-examples:
                example-1:
                  fields:
                    - question: 'What''s your [custom question]?'
                      type: text
                    - options:
                        - Option1
                        - Option2
                      question: 'What''s your [custom selectable question]?'
                      type: select
                    - options:
                        - Option1
                        - Option2
                      question: 'What''s your [custom selectable question]?'
                      type: select
                    - question: 'What''s your [cuf text question]?'
                      type: cuf_1
                    - options:
                        - 1
                        - 5
                        - 14
                      question: 'What''s your [cuf text question]?'
                      type: cuf_12
                    - question: 'What''s your [profile question]?'
                      type: gender
                  name: My form
      responses:
        '201':
          description: Created
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    campaign:
                      id: 0
                      name: string
                    fields:
                      - id: 0
                        question: string
                        short_name: string
                        type: gender
                    id: 0
                    name: string
              schema:
                type: object
                properties:
                  campaign:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                      - id
                      - name
                  fields:
                    type: array
                    items:
                      allOf:
                        - properties:
                            id:
                              type: integer
                          required:
                            - id
                          type: object
                        - $ref: '#/components/schemas/PreselectionFormQuestion'
                  id:
                    type: integer
                  name:
                    type: string
                required:
                  - id
                  - name
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
  '/campaigns/forms/{formId}':
    get:
      operationId: get-campaigns-forms-formId
      summary: Get a preselection form
      description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    campaign:
                      id: 0
                      name: string
                    fields:
                      - id: 0
                        question: string
                        short_name: string
                        type: gender
                    id: 0
                    name: My form
              schema:
                type: object
                properties:
                  campaign:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                      - id
                      - name
                  fields:
                    type: array
                    items:
                      allOf:
                        - properties:
                            id:
                              type: number
                          required:
                            - id
                          type: object
                        - $ref: '#/components/schemas/PreselectionFormQuestion'
                  id:
                    type: number
                  name:
                    type: string
                    example: My form
                required:
                  - id
                  - name
                  - fields
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      tags: []
    parameters:
      - name: formId
        in: path
        required: true
        schema:
          type: string
    put:
      operationId: put-campaigns-forms-formId
      summary: Edit a preselection form
      description: ''
      requestBody:
        content:
          application/json:
            examples:
              Example 1:
                value:
                  campaign: 0
                  fields:
                    - id: 0
                      question: string
                      short_name: string
                      type: gender
                  name: string
            schema:
              type: object
              properties:
                campaign:
                  type: integer
                fields:
                  type: array
                  items:
                    allOf:
                      - properties:
                          id:
                            type: number
                        type: object
                      - $ref: '#/components/schemas/PreselectionFormQuestion'
                name:
                  type: string
              required:
                - name
                - fields
              x-examples:
                example-1:
                  campaign: 1
                  fields:
                    - id: 3
                      question: 'What''s your [custom question]?'
                      type: text
                    - id: 12
                      options:
                        - Option1
                        - Option2
                      question: 'What''s your [custom selectable question]?'
                      type: select
                    - id: 9
                      options:
                        - Option1
                        - Option2
                      question: 'What''s your [custom selectable question]?'
                      type: select
                    - id: 24
                      question: 'What''s your [cuf text question]?'
                      type: cuf_1
                    - id: 29
                      options:
                        - 1
                        - 5
                        - 7
                        - 14
                      question: 'What''s your [cuf select question]?'
                      type: cuf_12
                    - question: 'What''s your [profile question]?'
                      type: gender
                  name: My form
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    campaign:
                      id: 0
                      name: string
                    fields:
                      - id: 0
                        question: string
                        short_name: string
                        type: gender
                    id: 0
                    name: string
              schema:
                type: object
                properties:
                  campaign:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                      - id
                      - name
                  fields:
                    type: array
                    items:
                      allOf:
                        - properties:
                            id:
                              type: number
                          required:
                            - id
                          type: object
                        - $ref: '#/components/schemas/PreselectionFormQuestion'
                  id:
                    type: integer
                  name:
                    type: string
                required:
                  - id
                  - name
                  - fields
                x-examples:
                  example-1:
                    fields:
                      - id: 3
                        question: 'What''s your [custom question]?'
                        type: text
                      - id: 12
                        options:
                          - Option1
                          - Option2
                        question: 'What''s your [custom selectable question]?'
                        type: select
                      - id: 9
                        options:
                          - Option1
                          - Option2
                        question: 'What''s your [custom selectable question]?'
                        type: select
                      - id: 24
                        question: 'What''s your [cuf text question]?'
                        type: cuf_1
                      - id: 29
                        options:
                          - 1
                          - 5
                          - 14
                        question: 'What''s your [cuf text question]?'
                        type: cuf_12
                      - id: 89
                        question: 'What''s your [profile question]?'
                        type: gender
                    id: 15
                    name: My form
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
  /campaigns/owners:
    get:
      operationId: get-campaigns-owners
      summary: Get owners of Campaigns
      description: Get all the owners of campaigns you have access to
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    surname:
                      type: string
                  required:
                    - id
                    - name
                    - surname
                  type: object
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      tags:
        - Campaign
    parameters: []
  '/campaigns/{campaignId}/visibility':
    parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
    patch:
      operationId: patch-campaigns-campaignId-visibility
      summary: Your PATCH endpoint
      requestBody:
        content:
          application/json:
            examples:
              Example 1:
                value:
                  type: target
            schema:
              type: object
              properties:
                type:
                  enum:
                    - internal
                    - target
              required:
                - type
      responses:
        '200':
          description: OK
          content: {}
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: Internal Server Error
      security:
        - JWT: []
      tags: []
  '/campaigns/{campaign}':
    get:
      operationId: get-campaigns-campaign
      summary: Get a Campaign
      description: 'Get the data of a Campaign if you have access to it '
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: 1
                    title: Campaign Title
                    type: Campaign Type
                    typeDescription: Campaign DescriptionType
                Example 2:
                  value:
                    id: 1
                    preselectionFormId: 69
                    title: Campaign Title
                    type: Campaign Type
                    typeDescription: Campaign DescriptionType
                campaign_with_plan:
                  value:
                    id: 0
                    plan:
                      id: 0
                      name: string
                    preselectionFormId: 0
                    title: string
                    type: string
                    typeDescription: string
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  plan:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                      - id
                      - name
                  preselectionFormId:
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                  typeDescription:
                    type: string
                required:
                  - id
                  - title
                  - type
                  - typeDescription
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          description: Not Found
      security:
        - JWT: []
      tags:
        - Campaign
    parameters:
      - $ref: '#/components/parameters/campaign'
    put:
      operationId: put-campaigns-campaign
      summary: Edit a Campaign
      description: 'Edit the data of a Campaign if you have access to it '
      requestBody:
        description: The Campaign data to edit
        content:
          application/json:
            examples:
              change-name-example:
                value:
                  name: Tesla-Model-3-selfdrive-UX new name
              full-example:
                value:
                  additionalFields:
                    - id: 2
                  allowed:
                    bug_types:
                      - id: 3
                    replicabilities:
                      - id: '1'
                    severities:
                      - id: 3
                  customerCanViewReviewing: true
                  customer_title: Tesla Inc.
                  dates:
                    close: 17/09/2021
                    end: 17/08/2021
                    start: 17/02/2021
                  devices:
                    - id: '2'
                  hasBugParade: true
                  internal_id: T4242
                  language: English (England)
                  minNumberOfMedia: 0
                  name: Tesla-Model-3-selfdrive-UX
                  projectManager:
                    username: Elon Musk
                  public: true
                  status: true
                  titleRule: true
              update-campaign-token-usage:
                value:
                  tokens: 12
            schema:
              $ref: '#/components/schemas/CampaignOptional'
      responses:
        '200':
          $ref: '#/components/responses/SingleCampaign'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      tags:
        - Campaign
  '/campaigns/{campaign}/bugs':
    get:
      operationId: get-campaigns-cid-bugs
      summary: Get all Campaign Bugs
      description: 'Get all bugs of a Campaign if you have access to it '
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/order'
        - name: orderBy
          in: query
          description: 'Order values by STATUS, TESTERID, SEVERITY, TYPE, ID'
          schema:
            type: string
            enum:
              - severity
              - testerId
              - status
              - type
              - id
        - $ref: '#/components/parameters/filterBy'
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    items:
                      - created: string
                        duplication: father
                        id: 0
                        internalId: string
                        isFavourite: true
                        severity:
                          id: 0
                          name: string
                        status:
                          id: 0
                          name: string
                        tags:
                          - id: 0
                            name: string
                        tester:
                          id: 0
                        title: string
                        type:
                          id: 0
                          name: string
                        updated: string
                    limit: 0
                    size: 0
                    start: 0
                    total: 0
              schema:
                allOf:
                  - properties:
                      items:
                        type: array
                        items:
                          properties:
                            created:
                              type: string
                            duplication:
                              type: string
                              enum:
                                - father
                                - unique
                                - duplicated
                            id:
                              type: integer
                            internalId:
                              type: string
                            isFavourite:
                              type: boolean
                            severity:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                                - id
                                - name
                            status:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                                - id
                                - name
                            tags:
                              type: array
                              items:
                                $ref: '#/components/schemas/BugTag'
                            tester:
                              type: object
                              properties:
                                id:
                                  type: integer
                              required:
                                - id
                            title:
                              type: string
                            type:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                                - id
                                - name
                            updated:
                              type: string
                          required:
                            - id
                            - title
                            - internalId
                            - status
                            - type
                            - severity
                            - tester
                            - duplication
                            - isFavourite
                            - created
                            - updated
                          type: object
                    required:
                      - items
                    type: object
                  - $ref: '#/components/schemas/PaginationData'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      tags:
        - Campaign
    parameters:
      - $ref: '#/components/parameters/campaign'
  '/campaigns/{campaign}/bugs/{bugId}':
    get:
      operationId: get-campaigns-single-bug
      summary: Get a specific Campaign Bug
      description: 'Get single bug of a Campaign if you have access to it '
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples: {}
              schema:
                type: object
                properties:
                  actual_result:
                    type: string
                  description:
                    type: string
                  expected_result:
                    type: string
                  id:
                    type: integer
                  media:
                    type: array
                    items:
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                        url:
                          type: string
                      required:
                        - id
                        - url
                        - type
                      type: object
                  note:
                    type: string
                  reason:
                    type: string
                  replicability:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                      - id
                      - name
                  severity:
                    $ref: '#/components/schemas/BugSeverity'
                  status:
                    $ref: '#/components/schemas/BugStatus'
                  status_history:
                    type: array
                    items:
                      properties:
                        date:
                          type: string
                        reason:
                          type: string
                        status:
                          type: string
                      required:
                        - date
                        - reason
                        - status
                      type: object
                  title:
                    type: string
                  type:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                      - id
                      - name
                  usecase:
                    type: object
                    properties:
                      description:
                        type: string
                      id:
                        type: integer
                      title:
                        type: string
                    required:
                      - description
                      - id
                      - title
                required:
                  - actual_result
                  - description
                  - expected_result
                  - id
                  - media
                  - note
                  - reason
                  - replicability
                  - severity
                  - status
                  - status_history
                  - title
                  - type
                  - usecase
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      tags:
        - Campaign
    parameters:
      - name: campaign
        in: path
        description: A campaign id
        required: true
        schema:
          type: string
      - name: bugId
        in: path
        required: true
        schema:
          type: string
  '/campaigns/{campaign}/bugs/{bugId}/aiReview':
    get:
      operationId: get-campaigns-single-bug-ai-review
      summary: Get a specific Campaign Bug AI review
      description: 'Get ai review for a single bug of a Campaign if you have access to it '
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    ai_reason: 'The bug requires review because it impacts the functionality of a key feature on the homepage, specifically the ''Find a dealer'' section, which is essential for user navigation and experience.'
                    ai_status: need_review
                    score_percentage: 54
                Example 2:
                  value:
                    ai_notes: ' The mixed language content creates confusion for users during registration.'
                    ai_reason: 'The bug has been refused due to language inconsistencies in the title and description, which do not align with the use case requirements for a clear and consistent registration process.'
                    ai_status: refused
                    score_percentage: 31
              schema:
                type: object
                properties:
                  ai_notes:
                    type: string
                  ai_reason:
                    type: string
                  ai_status:
                    type: string
                  score_percentage:
                    type: number
                required:
                  - ai_status
                  - ai_reason
                  - score_percentage
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      tags:
        - Campaign
    parameters:
      - name: campaign
        in: path
        description: A campaign id
        required: true
        schema:
          type: string
      - name: bugId
        in: path
        required: true
        schema:
          type: string
  '/campaigns/{campaign}/candidates':
    get:
      operationId: get-campaigns-campaign-candidates
      summary: Get all candidates for a campaign
      description: ''
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - name: fields
          in: query
          description: The fields to add to the results
          schema:
            type: string
            example: 'question_1,question_2'
        - name: filterByInclude
          in: query
          description: Key-value Array for item filtering
          schema: {}
        - name: filterByExclude
          in: query
          description: Key-value Array for item filtering
          schema: {}
        - name: filterByAge
          in: query
          description: Array with min and max
          schema: {}
        - name: show
          in: query
          description: Show accepted/candidates or both
          schema:
            type: string
            enum:
              - onlyAccepted
              - onlyCandidates
              - all
              - candidatesAndExcluded
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                example-2:
                  value:
                    results:
                      - age: 20
                        businessCps: 0
                        businessCpsLastMonth: 0
                        devices:
                          - id: 0
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - id: 1
                            manufacturer: Samsung
                            model: Galaxy M31
                            os: Android
                            osVersion: 12 (12)
                          - id: 2
                            manufacturer: Apple
                            model: iPad
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - id: 3
                            manufacturer: Apple
                            model: iPhone SE (2020)
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - id: 4
                            os: Windows
                            osVersion: Windows 11
                          - id: 5
                            manufacturer: Google
                            model: Pixel 6
                            os: Android
                            osVersion: 13(beta) (13(beta))
                        experience: 100
                        gender: female
                        id: 1234
                        levels:
                          bugHunting: Newbie
                          metal: Bronze
                        name: Giulia
                        surname: Baldini
                      - age: 21
                        businessCps: 10
                        businessCpsLastMonth: 5
                        devices:
                          - id: 6
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - id: 7
                            manufacturer: Xiaomi
                            model: Redmi 8
                            os: Android
                            osVersion: 11 (11)
                        experience: 100
                        gender: male
                        id: 1235
                        levels:
                          bugHunting: No level
                          metal: No level
                        name: Cesare
                        surname: Alagna
                      - age: 22
                        businessCps: 69
                        businessCpsLastMonth: 9
                        devices:
                          - id: 8
                            manufacturer: Huawei
                            model: Mate 20 Pro
                            os: Android
                            osVersion: 10 (10.0)
                        experience: 100
                        gender: not-specified
                        id: 12346
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        name: Carlo
                        surname: Paolini
                      - age: 23
                        businessCps: 0
                        businessCpsLastMonth: 0
                        devices:
                          - id: 9
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey) (12.1)
                          - id: 10
                            manufacturer: Xiaomi
                            model: Mi 11 Lite
                            os: Android
                            osVersion: 12 (12)
                        experience: 100
                        gender: other
                        id: 1239
                        levels:
                          bugHunting: Rookie
                          metal: Silver
                        name: Chiara
                        surname: Mancini
                      - age: 25
                        businessCps: 31
                        businessCpsLastMonth: 1
                        devices:
                          - id: 11
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - id: 12
                            manufacturer: Samsung
                            model: Galaxy S20 FE
                            os: Android
                            osVersion: 12 (12)
                        experience: 100
                        gender: female
                        id: 1236
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        name: Rosa
                        surname: Contralto
                      - age: 26
                        businessCps: 50
                        businessCpsLastMonth: 10
                        devices:
                          - id: 13
                            manufacturer: Apple
                            model: iPad Pro 12.9
                            os: iOS
                            osVersion: iOS 15.7 (15.7)
                          - id: 14
                            manufacturer: Samsung
                            model: Galaxy A20e
                            os: Android
                            osVersion: 11 (11)
                        experience: 100
                        gender: male
                        id: 12356
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        name: Beppe
                        surname: Gianduiotto
                      - age: 27
                        businessCps: 22
                        businessCpsLastMonth: 2
                        devices:
                          - id: 15
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - id: 16
                            manufacturer: Asus
                            model: ZenFone 5 (ZE620KL)
                            os: Android
                            osVersion: Pie (9.0)
                        experience: 100
                        gender: female
                        id: 12369
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        name: Monica
                        surname: Lorenzini
                      - age: 30
                        businessCps: 21
                        businessCpsLastMonth: 1
                        devices:
                          - id: 17
                            manufacturer: Apple
                            model: iPhone 14 Pro Max
                            os: iOS
                            osVersion: iOS 16(beta) (16(beta))
                        experience: 100
                        gender: male
                        id: 12389
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        name: Tullio
                        surname: De Sica
                    size: 8
                    start: 0
                example-with-questions:
                  value:
                    results:
                      - age: 20
                        businessCps: 0
                        businessCpsLastMonth: 0
                        devices:
                          - id: 0
                            os: Windows
                            osVersion: Windows 10 May 2021 Update (19043)
                          - id: 1
                            manufacturer: Samsung
                            model: Galaxy M31
                            os: Android
                            osVersion: 12 (12)
                          - id: 2
                            manufacturer: Apple
                            model: iPad
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - id: 3
                            manufacturer: Apple
                            model: iPhone SE (2020)
                            os: iOS
                            osVersion: iOS 15.6 (15.6)
                          - id: 4
                            os: Windows
                            osVersion: Windows 11
                          - id: 5
                            manufacturer: Google
                            model: Pixel 6
                            os: Android
                            osVersion: 13(beta) (13(beta))
                        experience: 100
                        gender: female
                        id: 1234
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        name: Giulia
                        questions:
                          - id: 1
                            title: Cane
                            value: Sì
                          - id: 2
                            title: Pagamento
                            value: 'No'
                        surname: Baldini
                      - age: 21
                        businessCps: 0
                        businessCpsLastMonth: 0
                        devices:
                          - id: 6
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - id: 7
                            manufacturer: Xiaomi
                            model: Redmi 8
                            os: Android
                            osVersion: 11 (11)
                        experience: 100
                        gender: male
                        id: 1235
                        levels:
                          bugHunting: No level
                          metal: No level
                        name: Cesare
                        surname: Alagna
                      - age: 22
                        businessCps: 10
                        businessCpsLastMonth: 5
                        devices:
                          - id: 8
                            manufacturer: Huawei
                            model: Mate 20 Pro
                            os: Android
                            osVersion: 10 (10.0)
                        experience: 100
                        gender: not-specified
                        id: 12346
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        name: Carlo
                        questions:
                          - id: 1
                            title: Cane
                            value: Sì
                          - id: 2
                            title: Pagamento
                            value: 'No'
                        surname: Paolini
                      - age: 23
                        businessCps: 70
                        businessCpsLastMonth: 13
                        devices:
                          - id: 9
                            os: MacOS
                            osVersion: Mac OS X 12 (Monterey) (12.1)
                          - id: 10
                            manufacturer: Xiaomi
                            model: Mi 11 Lite
                            os: Android
                            osVersion: 12 (12)
                        experience: 100
                        gender: other
                        id: 1239
                        levels:
                          bugHunting: Rookie
                          metal: No level
                        name: Chiara
                        questions:
                          - id: 1
                            title: Cane
                            value: 'No'
                          - id: 2
                            title: Pagamento
                            value: 'No'
                        surname: Mancini
                      - age: 25
                        businessCps: 60
                        businessCpsLastMonth: 1
                        devices:
                          - id: 11
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - id: 12
                            manufacturer: Samsung
                            model: Galaxy S20 FE
                            os: Android
                            osVersion: 12 (12)
                        experience: 100
                        gender: female
                        id: 1236
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        name: Rosa
                        questions:
                          - id: 1
                            title: Cane
                            value: Sì
                          - id: 2
                            title: Pagamento
                            value: 'No'
                        surname: Contralto
                      - age: 26
                        businessCps: 69
                        businessCpsLastMonth: 9
                        devices:
                          - id: 13
                            manufacturer: Apple
                            model: iPad Pro 12.9
                            os: iOS
                            osVersion: iOS 15.7 (15.7)
                          - id: 14
                            manufacturer: Samsung
                            model: Galaxy A20e
                            os: Android
                            osVersion: 11 (11)
                        experience: 100
                        gender: male
                        id: 12356
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        name: Beppe
                        questions:
                          - id: 1
                            title: Cane
                            value: Sì
                          - id: 2
                            title: Pagamento
                            value: 'No'
                        surname: Gianduiotto
                      - age: 27
                        businessCps: 20
                        businessCpsLastMonth: 5
                        devices:
                          - id: 15
                            os: Windows
                            osVersion: Windows 10 May 2021 Update
                          - id: 16
                            manufacturer: Asus
                            model: ZenFone 5 (ZE620KL)
                            os: Android
                            osVersion: Pie (9.0)
                        experience: 100
                        gender: female
                        id: 12369
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        name: Monica
                        questions:
                          - id: 1
                            title: Cane
                            value: 'No'
                          - id: 2
                            title: Pagamento
                            value: Sì
                        surname: Lorenzini
                      - age: 30
                        businessCps: 0
                        businessCpsLastMonth: 0
                        devices:
                          - id: 17
                            manufacturer: Apple
                            model: iPhone 14 Pro Max
                            os: iOS
                            osVersion: iOS 16(beta) (16(beta))
                        experience: 100
                        gender: male
                        id: 12389
                        levels:
                          bugHunting: Newbie
                          metal: No level
                        name: Tullio
                        questions:
                          - id: 1
                            title: Cane
                            value: Sì
                          - id: 2
                            title: Pagamento
                            value: 'No'
                        surname: De Sica
                    size: 8
                    start: 0
              schema:
                allOf:
                  - properties:
                      results:
                        type: array
                        items:
                          properties:
                            age:
                              type: number
                            businessCps:
                              type: integer
                            businessCpsLastMonth:
                              type: integer
                            devices:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: number
                                  manufacturer:
                                    type: string
                                  model:
                                    type: string
                                  os:
                                    type: string
                                  osVersion:
                                    type: string
                                required:
                                  - os
                                  - osVersion
                                  - id
                                type: object
                            experience:
                              type: number
                            gender:
                              $ref: '#/components/schemas/Gender'
                            id:
                              type: integer
                            levels:
                              type: object
                              properties:
                                bugHunting:
                                  type: string
                                metal:
                                  type: string
                              required:
                                - bugHunting
                                - metal
                            name:
                              type: string
                            questions:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: integer
                                  title:
                                    type: string
                                  value:
                                    type: string
                                type: object
                            status:
                              type: string
                              enum:
                                - candidate
                                - excluded
                                - selected
                            surname:
                              type: string
                          required:
                            - id
                            - name
                            - surname
                            - gender
                            - age
                            - experience
                            - businessCps
                            - businessCpsLastMonth
                            - levels
                            - devices
                          type: object
                    type: object
                  - $ref: '#/components/schemas/PaginationData'
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
    parameters:
      - name: campaign
        in: path
        description: A campaign id
        required: true
        schema:
          type: string
    post:
      operationId: post-campaigns-campaign-candidates
      summary: ''
      description: The Tryber will be inserted as a candidate Tryber on a specific Campaign
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - items:
                    properties:
                      device:
                        oneOf:
                          - properties: {}
                            type: number
                          - enum:
                              - random
                            properties: {}
                            type: string
                      tester_id:
                        type: number
                    required:
                      - tester_id
                    type: object
                  type: array
                - properties:
                    device:
                      oneOf:
                        - properties: {}
                          type: number
                        - enum:
                            - random
                          properties: {}
                          type: string
                    tester_id:
                      type: number
                  required:
                    - tester_id
                  type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      properties:
                        campaignId:
                          type: number
                        device:
                          oneOf:
                            - enum:
                                - any
                              properties: {}
                              type: string
                            - properties: {}
                              type: number
                        tester_id:
                          type: number
                      required:
                        - tester_id
                      type: object
                required:
                  - results
        '207':
          description: Multi-Status (WebDAV)
          content:
            application/json:
              schema:
                type: object
                properties:
                  invalidTesters:
                    type: array
                    items:
                      type: number
                  results:
                    type: array
                    items:
                      properties:
                        campaignId:
                          type: number
                        device:
                          oneOf:
                            - enum:
                                - any
                              type: string
                            - type: number
                        tester_id:
                          type: number
                      required:
                        - tester_id
                      type: object
                required:
                  - results
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
  '/campaigns/{campaign}/clusters':
    get:
      operationId: get-campaigns-campaign-clusters
      summary: Get use case clusters for a campaign
      description: Get all clusters for  a specific campaign
      responses:
        '200':
          description: A UseCase linked with the Campaign
          content:
            application/json:
              examples:
                4-items:
                  value:
                    items:
                      - id: 1
                        name: 'UC1: Cart'
                      - id: 2
                        name: 'UC2: Login'
                      - id: 3
                        name: 'UC3: Checkout'
                      - id: 4
                        name: 'UC4: Search'
                ux-campaign-get-clusters:
                  value:
                    items:
                      - id: 1
                        name: UC 1 - Carrello
                      - id: 2
                        name: UC 2 - Profilo
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                        - id
                        - name
                      type: object
                required:
                  - items
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      tags:
        - Campaign
        - Task
    parameters:
      - name: campaign
        in: path
        description: A campaign id
        required: true
        schema:
          type: string
  '/campaigns/{campaign}/forms':
    get:
      operationId: get-campaigns-campaign-forms
      summary: Get a preselection form by campaign id
      description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - id: 1
                      question: My question 1
                      shortName: Q1
                    - id: 2
                      question: My question 2
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: integer
                    question:
                      type: string
                    shortName:
                      type: string
                  required:
                    - id
                    - question
                  type: object
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      tags: []
    parameters:
      - name: campaign
        in: path
        required: true
        schema:
          type: string
  '/campaigns/{campaign}/groups':
    get:
      operationId: get-campaigns-cid-groups
      summary: Get all Campaign Groups
      description: 'Get all groups used in a Campaign if you have access to it '
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples: {}
              schema:
                type: array
                items:
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                  required:
                    - id
                    - name
                  type: object
        '403':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - JWT: []
      tags:
        - Campaign
    parameters:
      - name: campaign
        in: path
        description: A campaign id
        required: true
        schema:
          type: string
  '/campaigns/{campaign}/observations':
    get:
      operationId: get-campaigns-campaign-observations
      summary: Get observations for a campaign
      description: Get observations for a campaign
      parameters:
        - name: filterBy
          in: query
          schema: {}
      responses:
        '200':
          description: A UseCase linked with the Campaign
          content:
            application/json:
              examples:
                3-observations:
                  value:
                    items:
                      - cluster:
                          id: 1
                          name: Cluster Name1
                        id: 1
                        media:
                          id: 1
                          streamUrl: www.example.com
                          url: www.example.com
                        name: Observation Name1
                        tester:
                          id: 11111
                          name: Jhon Doe
                        time: 59
                      - cluster:
                          id: 1
                          name: Cluster Name1
                        id: 2
                        media:
                          id: 1
                          streamUrl: www.example.com
                          url: www.example.com
                        name: Observation Name2
                        tester:
                          id: 12345
                          name: Mary Blue
                        time: 39
                      - cluster:
                          id: 2
                          name: Cluster Name2
                        id: 3
                        media:
                          id: 1
                          streamUrl: www.example.com
                          url: www.example.com
                        name: Observation Name3
                        tester:
                          id: 11111
                          name: Jhon Doe
                        time: 19
                ux-campaign-get-observations:
                  value:
                    items:
                      - cluster:
                          id: 781
                          name: UC 1 - Carrello
                        id: 10678
                        media:
                          id: 73578
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T11291/91d3f36562a4d2be809c9b1217f591b317f928b4_1666108920-stream.m3u8'
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T11291/91d3f36562a4d2be809c9b1217f591b317f928b4_1666108920.mp4'
                        name: ok
                        tester:
                          id: 11291
                          name: Aurora
                        time: 0
                      - cluster:
                          id: 781
                          name: UC 1 - Carrello
                        id: 10682
                        media:
                          id: 73577
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T8208/bfc341707a8a3c247926aee8d4efe14f06f5165d_1666101262-stream.m3u8'
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T8208/bfc341707a8a3c247926aee8d4efe14f06f5165d_1666101262.mp4'
                        name: ''
                        tester:
                          id: 8208
                          name: Eliseo
                        time: 22
                      - cluster:
                          id: 781
                          name: UC 1 - Carrello
                        id: 10683
                        media:
                          id: 73579
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T58918/713c9be296e4fb76d0b074947bbe9a56b2807000_1666111033-stream.m3u8'
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T58918/713c9be296e4fb76d0b074947bbe9a56b2807000_1666111033.mp4'
                        name: t58918_xiaomi_mi10_usecase1-mp4
                        tester:
                          id: 58918
                          name: Claudio
                        time: 0
                      - cluster:
                          id: 781
                          name: UC 1 - Carrello
                        id: 10684
                        media:
                          id: 73580
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T960/19ebc32b3d71e4a3f2858eea298761d44db5d83b_1666112983-stream.m3u8'
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T960/19ebc32b3d71e4a3f2858eea298761d44db5d83b_1666112983.mp4'
                        name: t960_apple_iphone12_usecase0-mp4
                        tester:
                          id: 960
                          name: Domenico
                        time: 0
                      - cluster:
                          id: 781
                          name: UC 1 - Carrello
                        id: 10685
                        media:
                          id: 73589
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T17968/0af496e75fb6ec367749d1c34a2f9a0dec0f2b4a_1666121805-stream.m3u8'
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T17968/0af496e75fb6ec367749d1c34a2f9a0dec0f2b4a_1666121805.mp4'
                        name: t17968_pc_desktop-_amd_usecase1-
                        tester:
                          id: 17968
                          name: Vittorio
                        time: 0
                      - cluster:
                          id: 781
                          name: UC 1 - Carrello
                        id: 10686
                        media:
                          id: 73590
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T29187/c40ae70fbc3e3ac3c77a07aefdddec014d099e30_1666125348-stream.m3u8'
                          url: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T29187/c40ae70fbc3e3ac3c77a07aefdddec014d099e30_1666125348.mp4'
                        name: t29187_huaweihonor_usecase0-mp4
                        tester:
                          id: 29187
                          name: Giada
                        time: 0
                      - cluster:
                          id: 781
                          name: UC 1 - Carrello
                        id: 10687
                        media:
                          id: 73577
                          streamUrl: 'https://s3-eu-west-1.amazonaws.com/appq.use-case-media/CP4845/UC19595/T8208/bfc341707a8a3c247926aee8d4efe14f06f5165d_1666101262-stream.m3u8'
[...]
